/*  Mobile menu  */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

@media only screen and (max-width:1015px) {
}

@media only screen and (min-width: 893px) and (max-width: 1024px){
}

@media only screen and (max-width:700px) {
	.desktop {display:none !important;}
	.mobile {display:block !important;}
	ul.nav.menu .menu-listing {padding: 0;margin: 0;text-align: right;}
	ul.nav.menu li {display:block;width: auto;}
	ul.nav.menu li:first-of-type {margin-top: 100px;}
	ul.nav.menu li a {display: block;font-size: 1.5rem;height: 50px;line-height: 50px;padding: 0 20px;letter-spacing: 1px;text-decoration: none;transition: 0.5s;color: white;margin-top: 30px;}
	ul.nav.menu li a:hover { background-color: #262626;color: #fff;transition: 0.5s; }
	footer .wrapper {flex-wrap: wrap;}
	footer .footer-column {width: 90vw;}
	footer .wp-block-column {flex-basis: auto !important;width: fit-content;flex-grow: 0;}
	footer .wp-block-column:nth-child(2),
	footer .wp-block-column:nth-child(4){margin-left: 15px;width: 100px;}
	footer .envi .wp-block-column:nth-child(2){width: fit-content;}
}



@media only screen and (max-width:500px) {

}