/*
Theme Name: Drew & Rose template
Author: James Hayes - D&R
Version: 1.0.0
*/
@import "styles/global.css";
@import "styles/about-us.css";
@import "styles/blog.css";
@import "styles/posts.css";
@import "styles/contact.css";
@import "styles/header.css";
@import "styles/navigation.css";
@import "styles/footer.css";
@import "styles/homepage.css";
@import "styles/whatwedo.css";
@import "styles/offline.css";
@import "styles/in-real-life.css";
@import "styles/online.css";
@import "styles/faq.css";
@import "styles/ourteam.css";
@import "styles/our-work.css";
@import "styles/our-work-single.css";
@import "styles/wanttoworkwithus.css";
@import "styles/what-is-ux-ui.css";
@import "styles/homepage-animation.css";
@import "styles/seo-branding-agency.css";
@import "styles/seo-conversion-agency.css";
@import "styles/seo-digital-agency.css";
@import "styles/seo-events-agency.css";
@import "styles/work-with-us.css";
@import "styles/seo-content-agency.css";
@import "styles/single-job.css";
@import "styles/pricing.css";
@import "styles/golden-circle.css";
@import "styles/modern-salvery.css";

@font-face {
  font-family: "Branch-Regular";
  src: url("assets/fonts/BranchUpdated.woff") format("woff");
}
@font-face {
  font-family: "Optima";
  src: url("assets/fonts/OptimaMedium.woff") format("woff");
}
@font-face {
  font-family: "Optima-bold";
  src: url("assets/fonts/optima-bold/optim.ttf");
}
