.page-about-us main {
    background: rgb(47, 53, 77) !important;
}
.page-about-us .about-us-our-team-container,
h1 p {
    color: rgb(255, 255, 255);
}

.page-about-us #site-content h1,
.page-about-us #site-content h2 {
    font-size: 72px;
    line-height: 24px;
}

.page-about-us .white-logo {
    display: none;
}

.page-about-us .colour-logo {
    display: inline;
}

/* .page-about-us .wp-block-group__inner-container{
	padding-bottom: 0;
} */

.page-about-us p {
    font-size: 20px;
    line-height: 24px;
}

.about-us-container,
.so-they-named-ctn {
    background-color: #f6eee2;
}

.about-us-container {
    padding-top: 145px;
    padding-bottom: 0;
    max-width: 900px;
    margin: 0 auto;
}

.about-us-container .wp-block-group__inner-container {
    padding-bottom: 0;
    padding: 40px 20px 0;
}

.about-us-container h1 {
    margin-top: 0;
    font-size: 72px;
    line-height: 24px;
}

.about-us-container p {
    font-size: 20px;
    line-height: 24px;
    margin-top: 0;
}

.grandparents-columns {
    margin-top: 100px;
    margin-bottom: 0;
}

.grandparents-columns .wp-block-column:nth-of-type(2n) {
    max-width: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grandparents-columns .wp-block-column:nth-of-type(3n) {
    margin-top: 50px;
}

.grandparents-columns .wp-block-image {
    max-width: 385px;
}

.grandparents-columns .wp-block-image img {
    object-fit: contain;
}

.grandparents-columns .wp-block-column:nth-of-type(3n) .wp-block-image img {
    margin-bottom: 25px;
}

.grandparents-columns .wp-block-column:first-of-type {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.grandparents-columns .wp-block-column:last-of-type {
    display: flex;
    justify-content: flex-end;
}
.grandparents-columns .wp-block-column:first-of-type .wp-block-image img {
    margin-bottom: 19px;
}

.grandparents-columns .wp-block-image figcaption {
    font-size: 15px;
    font-family: "Optima", sans-serif;
    line-height: 24px;
    margin-top: 0;
}

.so-they-named-ctn {
    padding-top: 10px;
    max-width: 900px;
    margin: -1px auto 0;
}
.so-they-named-ctn img {
    width: 300px;
}

.so-they-named-ctn .wp-block-group__inner-container {
    padding-top: 0;
}

.so-they-named-ctn h2 {
    margin-bottom: 55px;
}

.so-they-named-ctn .drew-rose-logo {
    max-width: 435px;
    object-fit: contain;
    margin: 0 auto;
    margin-bottom: 35px;
}

.so-they-named-ctn p {
    max-width: 381px;
    margin: 0 auto;
    padding-left: 160px;
}

.so-they-named-ctn .wp-block-group__inner-container {
    padding-bottom: 60px;
}

.about-us-why {
    color: #faf3e8;
}

.why-inner-ctn {
    min-height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #faf3e8;
    position: relative;
}

.why-image {
    z-index: 0;
    position: absolute;
    background-image: url("../images/about-us/why-image.svg");
    width: 100%;
    height: 100%;
    top: 0;
    left: -20px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -210px;
    height: 1171px;
    background-position: center;
}

.why-inner-ctn p {
    margin-top: 50px;
    max-width: 351px;
}

.we-do-this-inner-ctn .wp-block-group__inner-container {
    text-align: center;
}

.we-do-this-inner-ctn {
    margin-top: 18px;
}

.we-do-this-inner-ctn h2 {
    margin-bottom: 40px;
    margin-top: 10px;
}

.we-do-columns {
    padding-top: 240px;
    margin-bottom: 0;
}

.we-do-columns p {
    margin-top: 25px;
}

.we-do-columns img {
    max-width: 261px;
    max-height: 133px;
    object-fit: contain;
}

.about-us-why .wp-block-group__inner-container {
    position: relative;
}

.wodo-image {
    position: absolute;
    z-index: 0;
    background-image: url("../images/about-us/we-do-this-new.svg");
    height: 966px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    left: 6.5%;
    top: 253px !important;
}

.about-us-subin
    .wp-block-group__inner-container
    .how-inner-ctn
    .wp-block-group__inner-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 375px;
    padding-left: 57%;
    padding-top: 109px;
    padding-bottom: 35px;
}

.our-values-ctn {
    background-color: #fbfbfb;
}

.our-values-ctn .wp-block-group__inner-container {
    padding-top: 147px;
    padding-bottom: 40px;
    max-width: 800px;
    margin: 0 auto;
}

.our-values-ctn h2 {
    margin-bottom: 30px;
}

.our-values-columns {
    margin-top: 60px;
}

.our-values-columns .wp-block-column {
    max-width: 407px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.our-values-columns .wp-block-image {
    display: flex;
    justify-content: center;
    max-height: 147px;
}

.our-values-columns img {
    object-fit: contain;
    width: auto;
    max-height: 147px;
}

.about-footer {
    background-color: #2f354d;
    position: relative;
}

.about-footer .wp-block-group__inner-container {
    padding-top: 94px;
    padding-bottom: 104px;
}

.about-footer .wp-block-columns {
    margin-bottom: 0px;
}

.about-footer .wp-block-column {
    display: flex;
    justify-content: center;
}

.about-footer .wp-block-button__link {
    border: 1px solid #faf3e8;
    border-radius: 31px;
    background-color: transparent;
    font-size: 20px;
    min-width: 294px;
    justify-content: center;
    align-items: center;
    font-family: "Optima", sans-serif;
}

.about-footer-image {
    background-image: url("../images/about-us/about-footer-stars.svg");
    position: absolute;
    left: 0;
    top: -88px;
    width: 136px;
    height: 250px;
}

.why-mobile-ctn {
    padding-left: 450px;
    padding-top: 190px;
}
.why-mobile-ctn p {
    max-width: 280px;
}

.about-us-subin .wp-block-group__inner-container {
    max-width: 100%;
    padding: 0;
}
.about-us-subin
    .wp-block-group__inner-container
    .wp-block-group__inner-container {
    max-width: 1000px;
    padding: 50px;
}

@media only screen and (max-width: 1037px) {
    .why-image {
        display: none;
    }
    .why-mobile-ctn {
        display: inline;
    }
    .why-inner-ctn {
        min-height: auto;
        text-align: center;
    }
    .why-inner-ctn .wp-block-group__inner-container {
        padding-bottom: 4px;
    }
    .we-do-this-inner-ctn {
        margin-top: 0;
    }
    .wodo-image {
        height: 1164.58px;
        width: 53%;
        left: 3%;
        top: 335px;
    }
    .how-inner-ctn {
        text-align: center;
    }
}

@media only screen and (max-width: 900px) {
    .wodo-image {
        display: none;
    }
    .how-inner-ctn .wp-block-group__inner-container {
        padding-left: 50px;
        padding-top: 0;
    }
    .we-do-columns {
        padding-top: 90px;
    }
}

@media only screen and (max-width: 800px) {
    .our-values-ctn h2 {
        text-align: center;
    }
    .grandparents-columns {
        flex-direction: column;
    }

    .grandparents-columns .wp-block-column:nth-of-type(2n) {
        margin: 0 auto !important;
    }
    .grandparents-columns .wp-block-column:nth-of-type(3n) {
        margin-top: 30px;
    }
    .about-footer .wp-block-columns {
        flex-direction: column;
    }
    .about-footer .wp-block-column {
        margin: 0 auto !important;
        margin-bottom: 25px !important;
    }
    .about-footer .wp-block-column:nth-child(2n) {
        margin-bottom: 0 !important;
    }
}

@media only screen and (max-width: 991px) {
    .so-they-named-ctn p {
        padding-left: 0;
        font-size: 15px;
    }
    .page-about-us #site-content .so-they-named-ctn h2 {
        font-size: 30px;
    }
    .page-about-us main {
        background-color: #f6efe4;
    }
    .about-us-container {
        padding-top: 90px;
    }
    .about-us-container p {
        font-size: 14px;
    }
    .page-about-us p {
        font-size: 15px;
    }
    .so-they-named-ctn .drew-rose-logo img {
        height: 160px;
    }
    .page-about-us #site-content h1 {
        font-size: 40px;
        text-align: center;
    }
    .so-they-named-ctn {
        padding-top: 0;
    }
    .so-they-named-ctn .wp-block-group__inner-container {
        padding: 0 20px 60px;
    }
    .why-inner-ctn {
        overflow: hidden;
        background-image: url("../images/whysplitter2-new.svg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
    }
    .why-mobile-ctn {
        text-align: left;
    }
    .why-mobile-ctn p {
        font-size: 15px;
    }
    .page-about-us #site-content h2 {
        font-size: 40px;
        margin-bottom: 25px;
    }
    .about-us-subin
        .wp-block-group__inner-container
        .wp-block-group__inner-container {
        padding: 53px 0px 35px 82px;
    }
    .why-inner-ctn p {
        margin-top: 7px;
        max-width: 82%;
    }
    .page-about-us #site-content .why-inner-ctn h2 {
        margin-bottom: 20px !important;
        margin-top: 30px !important;
    }
    .about-us-subin
        .wp-block-group__inner-container
        .about-us-why
        .wp-block-group__inner-container {
        padding: 20px 0;
    }
    .about-us-subin
        .wp-block-group__inner-container
        .about-us-why
        .wp-block-group__inner-container
        p {
        font-size: 15px;
    }
    .we-do-columns {
        padding-top: 30px;
    }
    .how-to-right {
        text-align: left;
    }
    .how-to-right:after {
        content: "";
        display: block;
        background-image: url("../images/how-to-right.svg");
        background-repeat: no-repeat;
        background-position: right;
        width: 106%;
        height: 255px;
        position: absolute;
        margin-top: -265px;
    }
    .how-inner-ctn .wp-block-group__inner-container {
        padding: 20px !important;
    }
    .our-values-ctn .wp-block-group__inner-container {
        padding: 50px 20px 20px 20px;
    }
    .our-values-columns:nth-of-type(2) {
        margin-top: 0;
    }
    .why-mobile-ctn {
        padding-left: 300px;
    }
}

/* new CSS - June 2022*/
.page-about-us .turquoise-footer {
    background: #006675;
    height: 100%;
    /* max-height: 458px; */
    padding: 53px 60px 59px 60px;
}

.turquoise-footer-container {
    padding: 65px 0 20px;
}

.turquoise-footer-container .wp-block-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.turquoise-footer-container .wp-block-column .wp-block-group {
    margin-left: 30px;
    margin-right: 30px;
}

.turquoise-footer-container .wp-block-image.right-image {
    margin-right: 25px;
}

@media screen and (min-width: 1200px) {
    .turquoise-footer-container .wp-block-image.right-image {
        margin-right: 75px;
    }
}

.page-about-us .turquoise-footer .wp-block-group__inner-container {
    background: #ffffff;
    width: 100%;
    max-width: 1380px !important;
    padding: 12px 15px;
    margin: 0 auto;
}
.page-about-us
    .turquoise-footer
    .wp-block-group__inner-container
    .wp-block-columns {
    border: 1px solid #d89000;
    margin-bottom: 0;
}
.page-about-us .turquoise-footer h2 {
    font-family: "Branch-Regular", sans-serif;
    font-weight: 400;
    font-size: 30px !important;
    line-height: 30px !important;
    max-width: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 35px;
}

@media screen and (min-width: 992px) {
    .page-about-us .turquoise-footer h2 {
        font-size: 50px !important;
        line-height: 50px !important;
    }
}
/*new about us code - Al*/
.about-us-top-section {
    background: #2f354d;
    padding-top: 110px;
}
.about-us-top-section,
h2 p {
    color: #ffffff;
}
.about-us-top-section h2 {
    font-family: "Branch-Regular", sans-serif;
    font-size: 60px !important;
    line-height: 24px !important;
    margin-bottom: 49px;
}
.about-us-top-section p {
    width: 100%;
    max-width: 872x;
    font-family: "Optima", sans-serif;
    font-size: 20px;
    line-height: 25px;
}
.about-us-our-team-container {
    width: 100%;
    max-width: 1034px;
    margin: 0 auto;
}

.about-us-our-team-container figure.wp-block-image.size-large.desktop {
    margin-top: 50px;
}

.page-about-us .white-logo {
    display: block;
}
.page-about-us .colour-logo {
    display: none;
}
.page-about-us header {
    padding-bottom: 26px;
}
.page-about-us .about-us-our-story {
    background: #f6eee2;
}
.about-us-our-story .wp-block-image.stars {
    max-width: 140px;
    margin-left: auto;
    margin-right: auto;
}
.page-about-us .about-our-values {
    background: #ffffff;
}

.about-our-values .wp-block-group__inner-container {
    padding-top: 95px;
    max-width: 900px;
}

.page-about-us .about-our-values h2 {
    margin: 0px 0px 75px 75px;
}

.about-our-values .wp-block-image img {
    min-height: 168px;
    object-fit: contain;
}

.page-about-us .about-our-values p {
    font-family: "Optima", sans-serif;
    font-size: 15px !important;
    line-height: 24px;
    max-width: 315px;
    margin-top: 25px;
}
.page-about-us .about-contact-us-button,
.page-about-us a.wp-block-button__link {
    width: 100%;
    max-width: 251px !important;
    background-color: transparent;
    color: #2f354d !important;
    padding-top: 9px;
    padding-bottom: 10px;
}

.page-about-us .about-contact-us-button:hover,
.page-about-us a.wp-block-button__link:hover {
    color: #2f354d;
}

.page-about-us .about-contact-us-button {
    border-radius: 31px;
    border: 1px solid;
    padding: 0;
}
.about-our-values::before {
    background-image: url("../images/about-us/our-values-left-line.svg");
    height: 415px;
    width: 126px;
    background-repeat: no-repeat;
    background-position: right;
}
.page-about-us .our-story-bottom-copy .wp-block-group__inner-container {
    width: 100%;
    max-width: 410px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.page-about-us .our-story-bottom-copy .wp-block-group__inner-container p {
    text-align: center;
}
.about-us-our-story .wp-block-group__inner-container {
    padding-top: 49px;
}
.about-us-our-story .wp-block-group__inner-container h2 {
    margin-left: 70px;
    margin-bottom: 40px;
}

.about-us-container,
.so-they-named-ctn {
    max-width: 100%;
    background-color: #fbfbfb;
}
.about-us-container {
    padding-top: 52px;
}
.so-they-named-ctn h2 {
    margin-top: 0 !important;
}

.grandparents-columns {
    margin-top: 30px;
}

.grandparents-columns .wp-block-column:last-of-type {
    flex-direction: column;
    margin-top: 0;
    position: relative;
}

.grandparents-columns .wp-block-column:last-of-type::after {
    content: "";
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='85.721' height='185.932' viewBox='0 0 85.721 185.932'%3E%3Cpath id='Path_14233' data-name='Path 14233' d='M184.932.361c-108.779.09-135.04,0-135.04,0A49.891,49.891,0,0,0,0,50.252v34.83' transform='translate(0.639 184.932) rotate(-90)' fill='none' stroke='%23cf9303' stroke-width='2'/%3E%3C/svg%3E%0A");
    width: 84px;
    display: inline-block;
    top: -165px;
    left: -60px;
    position: absolute;
    height: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.grandparents-columns .wp-block-column:last-of-type p {
    padding-left: 40px;
    margin-bottom: 40px;
    max-width: 290px;
    font-size: 15px !important;
    line-height: 24px;
}
.so-they-named-ctn img {
    width: 430px;
    margin-bottom: 80px;
}
.so-they-named-ctn p {
    font-size: 15px !important;
    line-height: 24px;
    max-width: 411px;
    margin: 0 0 0 281px !important;
    padding-left: 160px !important;
}

/* why image */
.about-us-subin .why-image {
    margin-top: 0px;
    height: 998px;
}
.we-do-this-inner-ctn {
    margin-top: 0;
}
.we-do-this-inner-ctn p {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.we-do-columns p {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.wodo-image {
    top: 237px;
}
.why-mobile-ctn h2 {
    margin-bottom: 0 !important;
}
.why-mobile-ctn p {
    margin-top: 30px;
}
.title-wrapper-our-purpose .wp-block-group__inner-container {
    text-align: center;
    padding-top: 70px !important;
    padding-bottom: 0px !important;
    color: white;
    position: relative;
}
.wp-block-group.title-wrapper-our-purpose {
    position: relative;
}
.title-wrapper-our-purpose figure.wp-block-image {
    position: absolute;
    max-width: 130px;
    left: -130px;
    top: -79px;
    margin: 0;
}
.why-inner-ctn {
    min-height: 810px;
}
.we-do-columns {
    position: relative;
}
.we-do-columns:before {
    content: "We do this…";
    position: absolute;
    top: 122px;
    left: 114px;
    font-size: 50px;
    font-family: "Branch-Regular";
    line-height: 1;
}
.so-they-named-ctn .drew-rose-logo {
    position: relative;
}
.so-they-named-ctn .drew-rose-logo:after {
    content: "";
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='85.721' height='185.932' viewBox='0 0 85.721 185.932'%3E%3Cpath id='Path_14233' data-name='Path 14233' d='M184.932.361c-108.779.09-135.04,0-135.04,0A49.891,49.891,0,0,0,0,50.252v34.83' transform='translate(0.639 184.932) rotate(-90)' fill='none' stroke='%23cf9303' stroke-width='2'/%3E%3C/svg%3E%0A");
    width: 84px;
    display: inline-block;
    bottom: -50px;
    left: 52px;
    position: absolute;
    height: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.about-our-values .wp-block-group__inner-container {
    position: relative;
}

.about-our-values .wp-block-group__inner-container:before {
    content: "";
    position: absolute;
    top: 105px;
    left: -100px;
    background-image: url(../images/about-us/our-values-line.svg);
    display: block;
    width: 131px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 991px) {
    .page-about-us .desktop {
        display: none !important;
    }
    .page-about-us .mobile {
        display: block !important;
    }
    .page-about-us .desktop-sub-menu.desktop {
        display: block !important;
    }
    .page-about-us .mobile-sub-menu.mobile {
        display: none !important;
    }
    .page-about-us #site-content h2 {
        font-size: 40px !important;
        margin-bottom: 15px;
        margin-top: 0;
    }
    .page-about-us #site-content h2.c-accordion__title {
        font-size: 20px !important;
    }
    .how-to-right {
        font-size: 40px !important;
    }
    .how-inner-ctn {
        text-align: left;
    }
    .page-about-us .turquoise-footer {
        padding: 30px;
    }
    .turquoise-footer-container {
        padding: 30px 0 65px;
    }
    .page-about-us .turquoise-footer .wp-block-group__inner-container {
        padding: 0;
    }
    .page-about-us
        .turquoise-footer
        .wp-block-group__inner-container
        .wp-block-columns {
        border: 0;
    }
    .turquoise-footer-container .wp-block-column {
        flex-direction: column-reverse;
    }
    figure.wp-block-image.size-large.left-image {
        display: none;
    }
    .page-about-us #site-content .turquoise-footer h2 {
        max-width: 230px;
        font-size: 30px !important;
    }
    .page-about-us .about-contact-us-button,
    a.wp-block-button__link {
        max-width: 167px !important;
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 14px !important;
    }
    .turquoise-footer-container .wp-block-image.right-image {
        max-width: 124px;
        margin-bottom: 30px;
    }
    .about-us-our-story .wp-block-group__inner-container h2,
    .about-our-values .wp-block-group__inner-container h2 {
        margin-left: 0;
        text-align: center;
        font-size: 40px !important;
        line-height: 40px !important;
    }
    .about-our-values .wp-block-group__inner-container h2 {
        margin-bottom: 50px !important;
    }
    .about-us-our-story .wp-block-group__inner-container,
    .about-our-values .wp-block-group__inner-container {
        padding-top: 50px;
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .about-us-our-story .wp-block-group__inner-container h2 {
        margin-bottom: 25px !important;
    }

    .about-us-our-story .wp-block-image.stars {
        max-width: 80px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 40px;
    }

    .about-our-values .wp-block-group__inner-container {
        padding-top: 55px;
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .page-about-us .about-our-values p {
        max-width: 290px !important;
        margin-left: auto;
        margin-right: auto;
    }

    .page-about-us .our-story-bottom-copy .wp-block-group__inner-container {
        width: 100%;
        max-width: 100%;
        padding: 0 !important;
    }
    .page-about-us .our-story-bottom-copy .wp-block-group__inner-container p {
        text-align: left;
    }
    .page-about-us .about-our-values p {
        font-family: "Optima", sans-serif;
        font-size: 14px !important;
        line-height: 20px;
        text-align: center;
        margin-top: 25px;
    }
    .about-our-values .wp-block-image img {
        min-height: 116px;
        object-fit: contain;
        max-height: 116px;
    }

    .about-us-container .wp-block-image.mobile {
        margin-bottom: 0;
    }
    .about-us-container .wp-block-group__inner-container {
        padding-top: 0;
    }
    .about-us-container {
        padding-top: 35px !important;
    }
    .so-they-named-ctn p {
        font-size: 14px !important;
        line-height: 20px;
        padding-left: 0px !important;
        margin: 0 !important;
        max-width: 257px;
    }
    .page-about-us #site-content .so-they-named-ctn h2 {
        margin-bottom: 50px;
        font-size: 40px !important;
        padding-top: 40px !important;
    }
    .about-us-container p.mobile {
        margin-bottom: 30px;
    }
    .so-they-named-ctn img {
        margin-bottom: 0;
    }
    .page-about-us
        .about-us-our-team-container
        .wp-block-group__inner-container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .page-about-us #site-content h1 {
        padding-bottom: 0;
    }
    .page-about-us .c-accordion__title:after {
        color: #cf9303 !important;
        font-size: 20px !important;
        display: block;
        font-family: "Optima";
        top: 0;
        transform: none;
    }

    .page-about-us
        .wp-block-pb-accordion-item.c-accordion__item.js-accordion-item.mobile
        h2 {
        margin-bottom: 25px !important;
        border-bottom: 1px solid #cf9303;
        padding-bottom: 15px;
        font-size: 20px !important;
    }
    .page-about-us main svg {
        margin-top: 20px;
        max-width: 350px;
        margin-bottom: 40px;
    }
    .page-about-us .desktop-sub-menu.desktop svg {
        max-width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
    .page-about-us main .mobile-sub-menu svg {
        margin-top: 0px;
        max-width: 100%;
        margin-bottom: 0px;
    }
    .why-inner-ctn {
        background-position: -52px center;
        min-height: inherit;
        max-height: 255px;
    }
    .we-do-columns:before {
        display: none;
    }
    .title-wrapper-our-purpose figure.wp-block-image {
        position: absolute;
        max-width: 90px;
        left: 15px;
        top: -55px;
        margin: 0;
    }

    .page-about-us
        #site-content
        .wp-block-group.title-wrapper-our-purpose
        .wp-block-group__inner-container
        h2 {
        font-size: 40px !important;
        line-height: 50px !important;
        margin-bottom: 0 !important;
    }
    .why-mobile-ctn p {
        margin-top: 0px;
    }
    .about-us-subin
        .wp-block-group__inner-container
        .wp-block-group__inner-container {
        padding: 43px 0px 50px 83px;
    }
    .how-inner-ctn {
        padding-top: 30px;
    }
    .we-do-this-inner-ctn p {
        max-width: 275px;
    }
    .we-do-columns p {
        max-width: 180px;
    }
    .wp-block-group.title-wrapper-our-purpose .wp-block-group__inner-container {
        padding-left: 0;
    }
    .so-they-named-ctn .drew-rose-logo:after {
        width: 47px;
        bottom: -70px;
        left: 30px;
        height: 100px;
    }

    .so-they-named-ctn .wp-block-group__inner-container {
        padding-bottom: 60px;
        max-width: 430px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .page-about-us #site-content .so-they-named-ctn h2 {
        align-self: flex-start;
    }
    .so-they-named-ctn .drew-rose-logo {
        position: relative;
        max-width: 257px;
    }
    .wp-container-52.wp-block-columns.is-not-stacked-on-mobile.grandparents-columns.mobile {
        flex-direction: row !important;
        flex-wrap: nowrap !important;
        display: flex !important;
    }
    .grandparents-columns .wp-block-image.star img {
        max-width: 30px;
    }
    .grandparents-columns .wp-block-column:last-of-type::after {
        display: none;
    }
    .grandparents-columns .wp-block-image figcaption {
        font-size: 12px;
        line-height: 16px;
    }
    .grandparents-columns .wp-block-image img {
        max-width: 100%;
    }
    .grandparents-columns.wp-block-columns.is-not-stacked-on-mobile
        > .wp-block-column {
        flex-basis: auto;
        flex-grow: inherit;
    }
    .grandparents-columns .wp-block-column:first-of-type .wp-block-image img,
    .grandparents-columns .wp-block-column:nth-of-type(3n) .wp-block-image img {
        margin-bottom: 10px;
    }

    .about-our-values .wp-block-group__inner-container:before {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .page-about-us .desktop-sub-menu.desktop {
        display: none !important;
    }
    .page-about-us .mobile-sub-menu.mobile {
        display: block !important;
    }
}

@media screen and (max-width: 450px) {
    .so-they-named-ctn p {
        max-width: 215px;
    }
}
@media screen and (max-width: 390px) {
    .so-they-named-ctn p {
        font-size: 14px !important;
        line-height: 20px;
        padding-right: 0px !important;
        margin: 0 !important;
        max-width: 257px;
        padding-left: 130px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 800px) {
    .wp-container-48.wp-block-columns.is-not-stacked-on-mobile.grandparents-columns.desktop {
        display: none;
    }
    .about-us-container p.mobile {
        display: block !important;
    }
    .wp-container-52.wp-block-columns.is-not-stacked-on-mobile.grandparents-columns.mobile {
        flex-direction: row !important;
        flex-wrap: nowrap !important;
        display: flex !important;
    }
    .grandparents-columns .wp-block-image.star img {
        max-width: 30px;
    }
    .grandparents-columns .wp-block-column:last-of-type::after {
        display: none;
    }
    .grandparents-columns .wp-block-image figcaption {
        font-size: 12px;
        line-height: 16px;
    }
    .grandparents-columns .wp-block-image img {
        max-width: 100%;
    }
    .grandparents-columns.wp-block-columns.is-not-stacked-on-mobile
        > .wp-block-column {
        flex-basis: auto;
        flex-grow: inherit;
    }
    .grandparents-columns .wp-block-column:first-of-type .wp-block-image img,
    .grandparents-columns .wp-block-column:nth-of-type(3n) .wp-block-image img {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 782px) and (max-width: 991px) {
    .wodo-image,
    .how-to-right:after {
        display: none;
    }
    .about-us-subin
        .wp-block-group__inner-container
        .wp-block-group__inner-container {
        padding: 66px 0px 50px 83px;
    }
    .wp-block-group.title-wrapper-our-purpose .wp-block-group__inner-container {
        padding-left: 0 !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1100px) {
    .how-inner-ctn {
        text-align: left;
    }
    .about-us-subin
        .wp-block-group__inner-container
        .how-inner-ctn
        .wp-block-group__inner-container {
        padding-left: 60%;
    }
    .why-image {
        display: block;
    }
    .wodo-image {
        top: 143px !important;
        height: 930px;
        left: 36px;
    }
    .about-us-subin
        .wp-block-group__inner-container
        .wp-block-group__inner-container {
        padding-top: 0 !important;
    }

    .about-us-subin
        .wp-block-group__inner-container
        .title-wrapper-our-purpose
        .wp-block-group__inner-container {
        padding-top: 50px !important;
    }

    .we-do-columns:before {
        top: 128px;
        left: 94px;
        font-size: 40px;
    }
    .about-our-values .wp-block-group__inner-container {
        padding-top: 146px;
        max-width: 900px;
    }
    .why-inner-ctn {
        min-height: 684px;
    }
    .why-mobile-ctn {
        display: block;
        padding-left: 320px;
        padding-top: 186px;
    }
    .we-do-this-inner-ctn p {
        max-width: 324px;
        margin-left: auto;
        margin-right: auto;
    }
    .why-mobile-ctn h2,
    .why-mobile-ctn p {
        text-align: left !important;
    }
    .about-us-subin .why-image {
        margin-top: 0px;
        height: 820px;
    }
}

@media screen and (min-width: 801px) {
    .wp-container-52.wp-block-columns.is-not-stacked-on-mobile.grandparents-columns.mobile {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .about-our-values .wp-block-group__inner-container:before {
        display: none;
    }
    .title-wrapper-our-purpose figure.wp-block-image {
        left: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .about-our-values .wp-block-group__inner-container:before {
        left: -78px;
        display: block;
    }
    .title-wrapper-our-purpose figure.wp-block-image {
        left: -30px;
    }
}
@media screen and (min-width: 1400px) {
    .about-our-values .wp-block-group__inner-container:before {
        left: -100px;
    }
    .title-wrapper-our-purpose figure.wp-block-image {
        left: -130px;
    }
}

@media screen and (min-width: 1037px) and (max-width: 1199px) {
    .page-about-us main#site-content {
        overflow-x: hidden;
    }
}
