

.generic-case-study .post-content{background-color: white !important;}
.our-work-template  .generic-case-study .wrapper{padding:50px; max-width: 900px;}
.generic-case-study .left-corner .wp-block-group__inner-container {border-bottom: 1px solid #CF9303; border-left: 1px solid #CF9303; padding: 50px; padding-top: 0px !important; position: relative; z-index: -1;}
.generic-case-study .left-corner h2{padding-left: 20px; position: relative; margin-top: 0px;}
.generic-case-study .left-corner p{margin-top: 0px;}
.generic-case-study .left-corner h2::before{content:''; background-image: url(../images/Header-circle.svg); background-repeat: no-repeat; position: absolute; height:52px; width:52px; top:-8px; left:-73px;}
.generic-case-study .left-corner .wp-block-group__inner-container::before{content:''; background-image: url(../images/Corners.svg); background-repeat: no-repeat; position: absolute; height:52px; width:52px; bottom:-3px; left:-2px; zoom:0.9;}
.generic-case-study .right-corner .wp-block-group__inner-container {padding: 50px;padding-top: 50px !important; position: relative; border-right: 1px solid #CF9303; border-bottom: 1px solid #CF9303; z-index: -1;}
.generic-case-study .right-corner .wp-block-group__inner-container::before{content:''; background-image: url(../images/Corners.svg); background-repeat: no-repeat; position: absolute; height:52px; width:52px; top:-3px; right:-2px; transform: rotate(180deg); zoom:0.9;}
.generic-case-study .right-corner .wp-block-group__inner-container::after{content:''; background-image: url(../images/Corners.svg); background-repeat: no-repeat; position: absolute; height:52px; width:52px; bottom:-3px; right:-2px;transform: scaleX(-1); zoom:0.9;}
.generic-case-study .right-corner h2{position: relative;}
.generic-case-study .right-corner h2::after{content:''; background-image: url(../images/Header-circle.svg); background-repeat: no-repeat; position: absolute; height:52px; width:52px; top:-10px; right:-80px;}
.generic-case-study .doubler-left{padding-bottom: 0 !important;}
.generic-case-study .doubler-left .wp-block-group__inner-container {border-bottom: 1px solid #CF9303; border-left: 1px solid #CF9303; padding: 50px !important; padding-top: 50px !important; position: relative;}
.generic-case-study .doubler-left .wp-block-columns{margin-bottom: 0 !important;}
.generic-case-study .doubler-left h2{padding-left: 20px; position: relative;}
.generic-case-study .doubler-left h2::before{content:''; background-image: url(../images/Header-circle.svg); background-repeat: no-repeat; position: absolute; height:52px; width:52px; top:-6px; left:-73px;}
.generic-case-study .doubler-left .wp-block-group__inner-container::before{content:''; background-image: url(../images/Corners.svg); background-repeat: no-repeat; position: absolute; height:52px; width:52px; top:-2px; left:-3px;transform: rotate(89deg); zoom: 0.8;}
.generic-case-study .doubler-left .wp-block-group__inner-container::after{content:''; background-image: url(../images/Corners.svg); background-repeat: no-repeat; position: absolute; height:52px; width:52px; bottom:-3px; left:-2px; zoom: 0.9;}
.generic-case-study .result-section .wp-block-group__inner-container {padding: 50px; padding-top: 0px !important; position: relative;}
.generic-case-study .result-section h2{margin-top:-17px;position: relative; background-color: white; display: inline-block; padding-left: 50px; position: relative; right:50px;}
.generic-case-study .result-section h2::before{content:''; background-image: url(../images/Results.svg); background-repeat: no-repeat; position: absolute; bottom:-18px; height:73px; width:170px; z-index: -1;}
.generic-case-study .result-section p{padding-left: 120px;}
.generic-case-study .left-corner .wp-block-columns,.generic-case-study .right-corner .wp-block-columns,.generic-case-study .result-section .wp-block-columns{margin-bottom: 0 !important;}

.generic-case-study .casestudy-slider .wp-block-group__inner-container{padding-top: 0 !important;}
@media only screen and (max-width:782px) {
  .flip{flex-direction: column-reverse;}
  .generic-case-study .result-section p:first-of-type{padding-top: 50px;}
  .generic-case-study .result-section p{padding-left: 0;}
}
@media only screen and (max-width:600px){
  .generic-case-study .right-corner .wp-block-group__inner-container{padding: 29px;}
  .generic-case-study .left-corner .wp-block-group__inner-container{padding: 29px;}
}




.hidden-page-title {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.blog-resouces-podcasts-ctn {
  z-index: 1;
  position: relative;
}

/* hero */
.blog-resouces-podcasts-ctn .hero {
  background: linear-gradient(180deg, #007a79 0%, #003e40 100%) 0% 0% no-repeat
    padding-box;
  color: #ffffff;
  min-height: 656px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.blog-resouces-podcasts-ctn .hero .wp-block-group__inner-container {
  position: relative;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}
.insights-hero svg {
  max-width: 100%;
}
.blog-resouces-podcasts-ctn .hero h1 {
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 160px;
  font-size: 72px;
}

/* categories */
.our-work-categories ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  column-gap: 6%;
}
.our-work-categories ul li {
  position: relative;
}
.our-work-categories ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.page-our-work-offline ul li.active:before {
  content: "";
  background-image: url("../images/our-work/offline-hero-illustration.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: -140px;
  left: 130px;
  width: 322px;
  height: 141px;
}
.page-our-work-offline ul li.active:after {
  content: "";
  background-image: url("../images/our-work/line-vertical.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: -162px;
  left: 130px;
  width: 1px;
  height: 177px;
}
.page-our-work-online ul li.active:before {
  content: "";
  background-image: url("../images/our-work/line-vertical.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: -130px;
  left: 124px;
  width: 1px;
  height: 105px;
}
.page-our-work-online ul li.active:after {
  content: "";
  background-image: url("../images/our-work/line-vertical.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: -162px;
  left: 124px;
  width: 1px;
  height: 132px;
}
.page-our-work-in-real-life ul li.active:before {
  content: "";
  background-image: url("../images/our-work/line-in-real-life.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: -140px;
  right: 120px;
  width: 322px;
  height: 140px;
}
.page-our-work-in-real-life ul li.active:after {
  content: "";
  background-image: url("../images/our-work/line-vertical.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: -162px;
  right: 120px;
  width: 1px;
  height: 177px;
}

.blog-ctn {
  background-color: #fbfbfb;
}

.blog-ctn .wp-block-group__inner-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.single-blog-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 48%;
  margin-bottom: 47px;
}

.blog-img-col {
  max-width: 397px;
  height: 258px;
  background-size: contain;
  margin-bottom: 14px;
  background-repeat: no-repeat;
  background-position: center;
}
#page-resources .blog-img-col {
  margin: 0 auto;
}
.content-col {
  max-width: 392px;
}

.content-col h2 {
  text-decoration: none;
  line-height: 40px;
  color: #2e354f;
}

.content-col h2 a {
  text-decoration: none;
  margin-bottom: 15px;
}
.single-blog-link {
  text-decoration: none;
}

.content-col p {
  font-size: 15px;
  line-height: 20px;
  color: #2f354d;
  margin-top: 0;
}

.blog-date {
  font-size: 18px !important;
  margin-bottom: 10px;
  line-height: 20px !important;
  font-family: "Branch-Regular", serif;
}

/* Podcast page */
.page-template-template-podcasts {
  overflow-x: hidden;
}

.page-podcasts .all-seasons-wrapper{
  position: relative;
  top: -30px;
}

.blog-ctn.podcast-ctn {
  background-color: #fbfbfb;
}


.blog-ctn.podcast-ctn .golden-line {
  max-width: 1500px;
  margin: 0 auto;
  background-image: url(../images/large-gold-line-new.svg);
  background-repeat: no-repeat;
  background-position: 75px 30px;
  margin-top: 0;
  background-size: 1470px;
}



.podcast-socials{margin-bottom: 0px !important;}
.podcast-socials .wp-block-group__inner-container{height:0px !important; padding: 0px !important;}
.podcast-socials .icons{width: 100% !important; display: block !important;}
.podcast-socials .icons .wp-block-group__inner-container{padding: 0px !important;}
.podcast-socials .icons .wp-block-image{margin-right:20px !important;}
.season-wrapper .wp-block-group__inner-container{padding:0px !important;}
.all-seasons-wrapper > .wp-block-group__inner-container{padding: 50px 0px !important;}
.podcast .wp-block-group__inner-container{padding: 0px !important;}
.podcast .mejs-time, .podcast .mejs-time-rail, .podcast .mejs-volume-button, .podcast .mejs-horizontal-volume-slider{display: none !important;}
.podcastcopy .wp-block-group__inner-container{padding: 0px !important;}
.podcastcopy .wp-block-group__inner-container{flex-direction: column !important;}
.podcast .mejs-button{position: absolute; top:82px; left:-25px;}
.podcast{margin:0 !important;}
.season{margin-bottom: 0px !important;}
.season-3 > .wp-block-group__inner-container{padding-bottom: 50px !important;}
.season-2 .season-wrapper{padding-top: 0px !important;}
.season-2 > .wp-block-group__inner-container{padding-bottom: 50px !important;}
.season-1 .season-wrapper{padding-top: 0px !important;}



.blog-ctn.podcast-ctn .wp-block-group__inner-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.podcast-ctn .blog-img-col {
  max-width: 300px;
  min-width: 300px;
  width: 300px;
  height: 289px;
  margin: 0;
}
.podcast-ctn .single-blog-item {
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 44px;
}
.podcast-ctn .wp-block-image img {
  max-width: 100%;
}
.podcast-ctn .content-col {
  max-width: 100%;
}
.podcast-ctn .blog-date {
  font-family: "Optima";
  margin-top: 0;
}
.podcast-ctn .content-col h2 {
  margin-bottom: 30px;
}
.podcast-ctn .single-blog-item h2 {
  margin: 30px 0;
  line-height: 1;
}

.podcast-ctn .podcast {
  margin: 35px auto;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.podcast-ctn .podcast:first-of-type {
  margin-top: 0;
}

.playicon {
  display: inline-block;
  width: 65px;
  height: 65px;
  border: 2px solid #006675;
  border-radius: 50px;
  min-width: 65px;
}
a.playbuttonlink {
  display: block;
  background: none;
  border-style: solid;
  box-sizing: border-box;
  width: 20px;
  height: 23px;
  border-width: 11px 0px 11px 22px;
  border-color: transparent transparent transparent #006675;
  margin-top: 22px;
  margin-left: 24px;
}
.podcastcopy {
  display: inline-block;
  margin-left: 50px;
}
p.episodes,
p.time {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 0;
}
.podcastcopy h2 {
  margin-bottom: 10px;
  margin-top: 10px;
  line-height: 1;
}
.wp-block-columns.podcast-audio,
.wp-block-columns.podcast-audio .wp-block-audio {
  margin: 0;
}
.podcast-socials {
  margin-bottom: 140px;
}
.podcast-socials h2 {
  font-size: 40px !important;
  margin-bottom: 30px;
  margin-top: 0;
  line-height: 1;
}
.podcast-socials .icons {
  display: inline-flex;
  justify-content: space-between;
}
.podcast-socials .icons a:not(:last-child) {
  margin-right: 17px;
}

.season-wrapper:nth-child(2) {
  padding-top: 170px;
}
.season-wrapper:last-child {
  padding-top: 190px;
}
.season {
  margin-top: 0;
  line-height: 1.1;
  margin-bottom: 35px;
}

/* player */
.wp-block-columns.podcast-audio {
  display: block;
  width: 100%;
  max-width: 950px;
}
.podcast-ctn .mejs-container * {
  font-family: "Optima";
  font-size: 14px;
  font-weight: 400;
}
.podcast-ctn .mejs-time {
  margin-right: 10px;
}
.podcast-ctn .mejs-container {
  min-width: 100% !important;
  width: 100% !important;
  margin-left: 0;
  padding-right: 30px;
  margin-top: 0px;
  background: none !important;
}
.podcast-ctn .mejs-button.mejs-playpause-button.mejs-play,
.podcast-ctn .mejs-button.mejs-playpause-button.mejs-pause,
.podcast-ctn .mejs-button.mejs-playpause-button.mejs-replay {
  width: 51px;
  height: 51px;
  margin-left: 0px;
  border: 2px solid #006675;
  border-radius: 50px;
  margin-top: -10px;
}
.podcast-ctn .mejs-button > button {
  background-color: #006675;
}
.podcast-ctn .mejs-time.mejs-currenttime-container {
  margin-left: 35px;
}
.podcast-ctn .mejs-play > button,
.podcast-ctn .mejs-replay > button {
  background: none !important;
  border-style: solid !important;
  box-sizing: border-box !important;
  width: 20px !important;
  height: 23px !important;
  border-width: 11px 0px 11px 20px !important;
  border-color: transparent transparent transparent #006675 !important;
  margin-top: 13px !important;
  margin-left: 16px !important;
}
.podcast-ctn .mejs-pause > button {
  background: none !important;
  width: 20px;
  height: 20px !important;
  border-style: double !important;
  border-width: 0px 0px 0px 11px !important;
  border-color: #006675 !important;
  margin-top: 15px !important;
  margin-left: 18px !important;
}
.podcast-ctn .mejs-container,
.mejs-container .mejs-controls,
.mejs-embed,
.mejs-embed body {
  background: transparent;
}
.podcast-ctn
  .mejs-controls
  .mejs-horizontal-volume-slider
  .mejs-horizontal-volume-total,
.podcast-ctn .mejs-controls .mejs-time-rail .mejs-time-total {
  background: #006675 !important;
}
.podcast-ctn
  .mejs-controls
  .mejs-horizontal-volume-slider
  .mejs-horizontal-volume-current,
.podcast-ctn .mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: #006675 !important;
}
.podcast-ctn .mejs-currenttime,
.podcast-ctn .mejs-duration {
  color: #006675;
}
.podcast-ctn .mejs-button.mejs-volume-button.mejs-mute {
  background: #006675 !important;
  border-radius: 50px;
  width: 40px;
}
.podcast-ctn .mejs-mute > button {
  margin-left: 10px !important;
}
.podcast-ctn .mejs-container .mejs-controls {
  background: none !important;
}
.podcast-ctn .mejs-play > button,
.mejs-pause > button {
  box-sizing: border-box;
  height: 74px;
  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  will-change: border-width;
  cursor: pointer;
  border-style: solid;
  border-width: 37px 0 37px 60px;
}
.podcast-ctn .mejs-play > button,
.mejs-pause > button.pause {
  border-style: double;
  border-width: 0px 0 0px 60px;
}

/* end player */

#blog-related-posts .slick-next,
#blog-related-posts .slick-prev {
  z-index: 100;
  padding: 0;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  position: absolute;
  font-size: 0;
  line-height: 0;
  top: 50%;
  transform: translateY(-50%);
  background-size: contain;
  width: 80px !important;
  height: 80px !important;
}
#blog-related-posts .slick-next.slick-disabled,
#blog-related-posts .slick-prev.slick-disabled {
  opacity: 0.5;
  cursor: auto;
}
#blog-related-posts .slick-prev {
  background-image: url(../images/our-work/related-work-arrow-left.svg);
  left: -109px;
}
#blog-related-posts .slick-next {
  background-image: url(../images/our-work/related-work-arrow-right.svg);
  right: -109px;
}
#blog-related-posts .latest-article-box {
  max-width: inherit;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
#blog-related-posts .portfolio-post-inner {
  max-width: 292px;
}
#blog-related-posts .latest-article-box .portfolio-post-img {
  border-radius: 50%;
}

@media only screen and (max-width: 1200px) {
  .blog-ctn.podcast-ctn .golden-line  {
    background-image: none;
  }
  .season-wrapper:nth-child(2),
  .season-wrapper:last-child {
    padding-top: 0;
  }
  .podcast-socials {
    margin-bottom: 110px;
  }
  .podcast-ctn .podcast {
    margin: 60px auto;
  }
}

@media only screen and (max-width:1100px) {
  .season-3 h2.season{padding-top:200px !important;}
}

@media only screen and (max-width: 800px) {
 

  .single-blog-item {
    width: 100%;
    flex-direction: row;
  }
  .content-col h2 {
    font-size: 30px;
    line-height: 30px;
    margin-top: 10px;
  }
  .blog-date {
    font-size: 14px !important;
    margin-bottom: 5px;
  }
  .blog-img-col {
    width: 100%;
    background-position: top;
    max-height: 140px;
  }
  .podcast-ctn .blog-img-col {
    max-height: inherit;
  }
  .single-blog-link {
    width: 46%;
  }
  .single-blog-item {
    margin-bottom: 54px;
  }

  .content-col {
    width: 54%;
  }
  .blog-ctn .content-col {
    padding-left: 12px;
  }
  .podcast-ctn .content-col {
    width: 100%;
  }

  .blog-ctn .wp-block-group__inner-container {
    padding-left: 31px;
    padding-right: 31px;
  }
  .blog-excerpt {
    display: none;
  }
  .blog-resouces-podcasts-ctn .hero {
    min-height: fit-content;
    max-height: 492px;
  }
  .insights-hero svg {
    max-width: 130%;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .blog-resouces-podcasts-ctn .hero {
    min-height: fit-content;
    max-height: 380px;
  }
  .blog-resouces-podcasts-ctn .hero .wp-block-group__inner-container {
    margin-top: 50px;
    padding-bottom: 50px;
  }

  .podcast-ctn .content-col h2 {
    max-width: 216px;
  }
}

@media only screen and (max-width: 599px) {

  .page-podcasts .all-seasons-wrapper{
    position: relative;
    top: 0;
  }

  .podcast-ctn .podcast {
    margin: 30px auto;
  }
  .podcast-ctn .single-blog-item h2 {
    max-width: 220px;
    margin: 10px 0;
  }
  .podcast-ctn .single-blog-item p {
    margin-top: 0;
  }
  .podcast-ctn .single-blog-item {
    margin-bottom: 0;
  }
  .golden-line .wp-block-group__inner-container {
    padding-top: 0;
  }
  .podcast-socials {
    margin-bottom: 66px;
    width: 100%;
  }
  .podcast-socials h2 {
    font-size: 25px !important;
    margin-bottom: 10px;
  }
  p.episodes {
    display: none;
  }
  .season {
    margin-bottom: 15px;
    font-size: 35px !important;
  }
  .playicon {
    display: inline-block;
    width: 31px;
    height: 31px;
    min-width: 31px;
  }
  a.playbuttonlink {
    width: 12px;
    height: 14px;
    border-width: 8px 0px 8px 12px;
    margin-top: 8px;
    margin-left: 11px;
  }
  .podcastcopy {
    margin-left: 15px;
  }
  .podcastcopy h2 {
    margin: 0;
  }
  .golden-line {
    background-image: none;
    background-size: 300px auto !important;
  }
  .wp-block-audio audio {
    width: 100%;
    min-width: 280px;
  }
  .podcast-ctn .podcast {
    align-items: flex-start;
  }
  .podcast-ctn .mejs-container {
    margin-top: 5px;
  }
  .podcast-ctn .mejs-button.mejs-playpause-button.mejs-play,
  .podcast-ctn .mejs-button.mejs-playpause-button.mejs-pause,
  .podcast-ctn .mejs-button.mejs-playpause-button.mejs-replay {
    width: 31px;
    height: 31px;
    margin-left: 0px;
    margin-top: 3px;
  }
  .podcast-ctn .mejs-play > button,
  .podcast-ctn .mejs-replay > button {
    width: 12px !important;
    height: 14px !important;
    border-width: 8px 0px 8px 12px !important;
    margin-top: 6px !important;
    margin-left: 10px !important;
  }
  .podcast-ctn .mejs-time.mejs-currenttime-container {
    margin-left: 10px;
  }
  .podcast-ctn .mejs-container .mejs-controls {
    padding: 0;
  }
  .podcast-ctn .mejs-pause > button {
    width: 16px;
    height: 16px !important;
    border-width: 0px 0px 0px 8px !important;
    border-color: #006675 !important;
    margin-top: 6px !important;
    margin-left: 10px !important;
  }
  .podcast-ctn .mejs-time {
    margin-right: 0px;
  }
  .podcast-ctn .single-blog-item p {
    display: none;
  }
  .podcast-ctn .single-blog-item p.blog-date {
    display: block;
  }
  .podcast-ctn .wp-block-image img {
    max-width: 300px;
  }
  .podcast-ctn .single-blog-item .wp-block-image {
    text-align: center;
  }
}

@media only screen and (max-width: 400px) {
  .podcast-ctn .wp-block-image img {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1400px) {
 

  .golden-line .wp-block-group__inner-container {
    padding-bottom: 130px;
  }
  .podcast-ctn .podcast:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1500px) {
  .blog-ctn.podcast-ctn .golden-line {
    max-width: 1500px;
  }
 

  .season-wrapper:last-child {
    padding-top: 200px;
  }
}
