.page-template-template-contact {
    background-color: #2f354d;
    min-height: 100vh;
    color: #faf3e8;
    overflow-x: hidden;
}
.page-template-template-contact .stars-img {
    position: absolute;
    right: 120px;
    top: 240px;
}
.page-template-template-contact .main-img-cont {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.page-template-template-contact .char-elle-img {
    max-width: 630px;
}
.page-template-template-contact #site-content {
    position: relative;
}
.page-template-template-contact h1 {
    text-align: center;
    margin-bottom: 40px;
}
.page-template-template-contact .subheading {
    font-size: 20px !important;
    max-width: 530px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.page-template-template-contact .email-column {
    padding-left: 54px;
}
.page-template-template-contact .email-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.contact-us-heading {
    background-image: url("../images/contact-us-bg.svg");
    background-size: 1110px;
    background-repeat: no-repeat;
    background-position: center 316px;
}
.contact-us-heading .wp-block-group__inner-container {
    padding: 130.5px 50px;
    max-width: 1175px;
}
.contact-us-heading .wp-block-columns {
    justify-content: space-between;
    position: relative;
    max-width: 1090px;
    margin-top: 100px;
}
.contact-us-heading .wp-block-column {
    max-width: 290px;
}

.contact-us-heading h2 {
    font-size: 50px;
    line-height: 24px;
}
.contact-us-heading p {
    font-size: 18px;
    line-height: 25px;
    min-height: 50px;
}
.contact-us-footer h2 {
    margin-top: 0;
    font-size: 50px;
    line-height: 33px;
}
.contact-us-footer .wp-block-columns {
    padding-top: 0px;
}
.contact-us-footer .wp-block-column:first-of-type {
    display: flex;
    flex-direction: column;
    max-width: 402px;
    padding-right: 109px;
}
.contact-us-footer a,
.contact-us-footer p {
    color: #fff;
    font-family: "Optima", sans-serif;
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 15px;
    margin-top: 0;
    text-decoration: none;
}
.contact-us-footer p:last-of-type {
    margin-bottom: 0;
}
.contact-us-heading .icon {
    background-repeat: no-repeat;
    width: 33px;
    height: 33px;
}
.email-icon .icon {
    background-image: url("../images/contact/email-01.svg");
    width: 33px;
    height: 33px;
    background-size: contain;
    margin-top: 33px;
}
.brief-icon .icon {
    background-image: url("../images/contact/submit-brief-white.svg");
    width: 33px;
    height: 33px;
    background-size: contain;
}
.meeting-icon .icon {
    background-image: url("../images/contact/calendar.svg");
    width: 33px;
    height: 33px;
    background-size: contain;
}

.contact-us-social {
    display: flex;
    margin-top: 60px;
}
.contact-us-social a {
    margin-bottom: 0;
}
.contact-us-social .icon {
    width: 42px;
    height: 42px;
    background-size: contain;
    margin-right: 9px;
}
.contact-us-social .instagram {
    background-image: url("../images/contact/insta-gold.svg");
}
.contact-us-social .facebook {
    background-image: url("../images/contact/fb-gold.svg");
}
.contact-us-social .twitter {
    background-image: url("../images/contact/twitter-gold.svg");
}
.contact-us-social .linkedin {
    background-image: url("../images/contact/linkedin-gold.svg");
}
.contact-on-mobile {
    display: none;
}
p.location-mobile {
    display: none;
}
img.contact-us-mobile-line {
    display: none;
}
.office-address {
    width: 100%;
    max-width: 600px !important;
}
.office-address-flexbox {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 100%;
    max-width: 500px;
}
.office-address-flexbox .column-office-1,
.column-office-2 {
    width: 50%;
}
.column-office-1 {
    padding-right: 14px;
}
.office-address-flexbox h4 {
    font-size: 35px !important;
    font-family: "Branch-Regular", serif;
    font-weight: 500;
    margin-top: 11px;
    margin-bottom: 14px;
}
/*@media only screen and (max-width:1280px){
	 .contact-us-line{display: none;}
	 .contact-us-heading .wp-block-columns {justify-content: center;}
}*/

@media only screen and (max-width: 1120px) {
    .page-template-template-contact .stars-img {
        right: 60px;
    }
    .contact-us-heading {
        background-position: center 325px;
        background-size: 900px;
    }
    .page-template-template-contact .main-img-cont {
        max-width: 500px;
    }
    .page-template-template-contact .char-elle-img {
        max-width: 500px;
    }
    .contact-us-heading .wp-block-columns {
        margin-top: 90px;
    }
    .page-template-template-contact .wp-block-columns h2 {
        margin: 6px 0px;
        font-size: 38px !important;
    }
    .contact-us-heading .wp-block-column {
        width: 200px;
        max-width: 300px;
        padding-left: 15px !important;
    }
    .contact-us-heading .wp-block-columns {
        width: 900px;
        margin: 0 auto;
        margin-top: 90px !important;
    }
}

@media only screen and (max-width: 960px) {
    .page-template-template-contact .stars-img {
        max-width: 100px;
        top: 300px;
    }
    .contact-us-heading {
        background-position: center 341px;
        background-size: 700px;
    }
    .page-template-template-contact .main-img-cont {
        max-width: 400px;
    }
    .page-template-template-contact .char-elle-img {
        max-width: 400px;
    }
    .contact-us-heading .wp-block-columns {
        margin-top: 50px;
    }
    .page-template-template-contact .wp-block-columns h2 {
        margin: 6px 0px;
        font-size: 38px !important;
    }
    .contact-us-heading .wp-block-column {
        width: 200px;
        max-width: 300px;
        padding-left: 15px !important;
    }
    .contact-us-heading .wp-block-columns {
        width: 700px;
        margin: 0 auto;
        margin-top: 60px !important;
    }
    .contact-us-heading .meeting-icon .icon {
        width: 23px;
        height: 23px;
    }
}

@media only screen and (max-width: 992px) {
    .contact-us-footer .wp-block-columns {
        padding-top: 240px;
    }
    .contact-us-image {
        display: none;
    }
    .contact-us-social {
        margin-bottom: 60px;
        display: flex;
    }
    .contact-us-line {
        left: 28.5%;
        max-width: 570px;
    }
}

@media only screen and (max-width: 785px) {
    .contact-us-heading .wp-block-columns {
        flex-wrap: nowrap !important;
    }
    .contact-us-heading .wp-block-column {
        padding-left: 0px !important;
    }
}

@media only screen and (max-width: 750px) {
    .stars-img {
        display: none;
    }
    .page-template-template-contact .subheading {
        font-size: 16px !important;
        line-height: 25px;
    }
    .office-address-flexbox {
        flex-direction: column;
        align-items: flex-start;
    }
    .column-office-1 {
        padding-right: 0px;
    }
    .contact-us-heading {
        background-image: none;
    }
    .contact-us-heading .wp-block-columns {
        flex-wrap: wrap !important;
        width: 100%;
    }
    .contact-us-heading .wp-block-column {
        max-width: 100%;
        width: 100%;
        height: 150px;
    }
    .page-template-template-contact .main-img-cont {
        max-width: 100%;
        position: relative;
    }
    .page-template-template-contact .char-elle-img {
        max-width: 100%;
    }
    .page-template-template-contact .main-info div.icon,
    .page-template-template-contact .main-info p,
    .page-template-template-contact .main-info .email-link {
        display: inline-block;
    }
    .page-template-template-contact .email-icon .icon {
        margin-top: 0px;
        position: relative;
        top: 5px;
        left: 20px;
    }
    .page-template-template-contact .brief-icon .icon {
        position: relative;
        top: 15px;
        left: 20px;
    }
    .page-template-template-contact .contact-us-heading .meeting-icon .icon {
        width: 33px;
        height: 33px;
        position: relative;
        top: 5px;
        left: 20px;
    }
    .page-template-template-contact .contact-us-heading p {
        min-height: 0px;
    }
}

@media only screen and (max-width: 600px) {
    .page-template-template-contact .subheading {
        min-height: 150px;
    }
    .contact-us-heading {
        background-image: url("../images/contact-us-mob-bg.svg");
        background-size: 500px;
        background-position: center 300px;
    }
    .page-template-template-contact .main-img-cont {
        margin-top: 131px;
        max-width: 400px;
    }
    .contact-us-heading .wp-block-columns {
        margin-top: 78px !important;
    }
    .contact-us-heading .wp-block-column {
        height: 186px;
    }
    .contact-us-heading .wp-block-group__inner-container {
        padding-bottom: 100px !important;
    }
    .contact-us-social {
        justify-content: center;
    }
}

@media only screen and (max-width: 520px) {
    .contact-us-heading {
        background-size: 470px;
    }
    .page-template-template-contact .main-img-cont {
        margin-top: 104px;
        max-width: 350px;
    }
    .contact-us-heading .wp-block-column {
        height: 169px;
    }
    .page-template-template-contact .contact-us-heading .meeting-icon .icon {
        left: 0px;
    }
}

@media only screen and (max-width: 480px) {
    .contact-us-heading {
        background-size: 400px;
    }
    .page-template-template-contact .main-img-cont {
        margin-top: 77px;
        max-width: 300px;
    }
    .contact-us-heading .wp-block-columns {
        margin-top: 68px !important;
    }
    .contact-us-heading .wp-block-column {
        height: 150px;
    }
    .page-template-template-contact .email-icon .icon {
        left: 80px;
        top: -20px;
    }
    .page-template-template-contact .brief-icon .icon {
        left: 155px;
        top: -20px;
    }
    .page-template-template-contact .contact-us-heading .meeting-icon .icon {
        width: 33px;
        height: 33px;
        position: relative;
        top: -116px;
        left: 280px;
    }
    .office-address-flexbox .column-office-1,
    .column-office-2 {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .contact-us-heading .wp-block-group__inner-container {
        padding: 130px 30px;
    }
    .contact-us-heading {
        background-size: 375px;
        background-position: center 315px;
    }
    .page-template-template-contact .main-img-cont {
        margin-top: 84px;
        max-width: 300px;
    }
    .contact-us-heading .wp-block-columns {
        margin-top: 55px !important;
    }
    .contact-us-heading .wp-block-column {
        height: 131px;
    }
}

@media only screen and (max-width: 375px) {
    .contact-us-heading {
        background-size: 350px;
        background-position: center 329px;
    }
    .contact-us-heading .wp-block-columns {
        margin-top: 44px !important;
    }
}

@media only screen and (max-width: 360px) {
    .contact-us-heading {
        background-image: none;
    }
}
