.page-faq .faq-block, .page-faq .wp-block-spacer {background-color: #FBFBFB;}
.page-faq h1, .page-faq  h3{margin:0px; position: relative;}
.page-faq  h2 {margin: 0 0 30px;}

.page-faq .hero{background: linear-gradient(#003E40, #007A79); height:100vh;}
.page-faq .hero .wp-block-group__inner-container{position: relative; max-width:100%; height: 100%; padding:0px;}
.page-faq .hero-lines{background-image: url("../images/faq-bg.svg"); background-repeat: no-repeat; background-size: cover; background-position: center; height:100vh; width:100vw; position: absolute;}
.page-faq .hero .wp-block-image.get-in-touch-btn {margin-bottom: 0;}
.page-faq .hero .wp-block-image.get-in-touch-btn a {width: 100%;height: 100%;}
.page-faq .hero .wp-block-image.get-in-touch-btn {width: 116px;height: 116px;position: absolute;right: 5%; bottom: 2%;}


.page-faq .faq-block .wp-block-columns:not(:last-child) {margin-bottom: 60px;}
.page-faq .faq-block h2 {font-size: 35px;}
.page-faq .faq-block h3 {font-size: 14px;border-bottom: 0.5px solid #C89533;padding:18px 25px 18px 0;}
.page-faq .faq-block .c-accordion__item:first-child h3 {padding-top: 0;}
.page-faq .faq-block .c-accordion__item:first-child .c-accordion__title:after {top: 0;transform: none;}
.page-faq .faq-block p {font-size: 14px;line-height: 20px;}
.page-faq .faq-block .c-accordion__title:after {width: 12px; height: 12px; content: ''; background-repeat: no-repeat; background-size: 12px 12px; background-image: url("../images/faq-plus.svg");}
.page-faq .faq-block .is-open>.c-accordion__title:after {content: ''; width: 12px; height: 12px; background-repeat: no-repeat; background-size: 12px 12px; background-image: url("../images/faq-minus.svg");}


@media only screen and (max-width: 599px) {
     .page-faq .wp-block-spacer {
          display: none;
     }
     .page-faq .faq-block h3 {
          padding: 12px 25px 12px 0;
     }
     .page-faq .faq-block .c-accordion__item:first-child .c-accordion__title:after {
          top: 5px;
     }
     .page-faq .wp-block-group__inner-container {
          padding: 25px 18px 80px;
     }
     .page-faq h2 {
          margin: 0 0 22px;
          border-top: 1px solid #C89533;
          padding-top: 25px;
      }
      .page-faq .wp-block-columns:nth-child(2) h2 {
          border-top: 0;
          padding-top: 0;
      }
      .page-faq .hero {
          height: 394px;
      }
      .page-faq .hero-lines {
          background-image: url(../images/faq-hero-mob.svg);
          height: 394px;
          width: 100%;
          background-size: cover;
      }
}


@media only screen and (min-width: 600px) {
     .page-faq .wp-block-spacer {
          display: none;
     }
     .page-faq .faq-block h3 {
          font-size: 16px;
     }
     .page-faq .faq-block .c-accordion__title:after,
     .page-faq .faq-block .is-open>.c-accordion__title:after {
          width: 15px;
          height: 15px;
          background-size: 15px 15px;
     }
     .page-faq .faq-block .c-accordion__item:first-child .c-accordion__title:after {
          top: 5px;
      }
      .page-faq .faq-block .wp-block-columns:not(:last-child) {
          margin-bottom: 60px;
      }
}
@media only screen and (min-width: 992px) {
     .page-faq .wp-block-spacer {
          display: block;
     }
     .page-faq .faq-block h2 {
          font-size: 50px;
     }
     .page-faq .faq-block h3 {
          font-size: 20px;
     }
     .page-faq .faq-block .c-accordion__title:after,
     .page-faq .faq-block .is-open>.c-accordion__title:after {
          width: 18px;
          height: 18px;
          background-size: 18px 18px;
     }
     .page-faq .faq-block .c-accordion__item:first-child .c-accordion__title:after {
          top: 0;
      }
      .page-faq .faq-block .wp-block-columns:not(:last-child) {
          margin-bottom: 100px;
      }
      .page-faq .faq-block p {font-size: 15px;line-height: 20px;}
}
