footer {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  height: 325px;
  width: 100vw;
  background-color: white;
}
footer .footer-socials h2 {
  font-size: 20px !important;
}

footer .footer-socials::before {
  content: "";
  background-image: url("../images/footer-bg-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 185px;
  height: 375px;
  position: absolute;
  left: 50px;
  z-index: -1;
  margin-top: -50px; /*needs changing when menu grows*/
}
footer .footer-socials::after {
  content: "";
  background-image: url("../images/footer-bg-2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 225px;
  position: absolute;
  right: 0;
  z-index: -1;
  margin-top: -50px; /*needs changing when menu grows*/
}
footer .footer-socials {
  margin: 0 auto;
  display: flex;
  max-width: 700px;
  padding: 0px;
  justify-content: space-between;
}
footer .footer-socials a {
  text-decoration: none;
}
footer .footer-socials img {
  width: 30px;
  height: 30px;
}
footer .footer-socials .img-cont {
  display: flex;
  justify-content: space-between;
}
footer .footer-menu,
.contact-us-footer,
.sign-up {
  position: relative;
  top: 30px;
}
footer .sign-up {
  width: 215px;
  text-align: center;
}
.menu-footer-menu-container {
  padding-top: 20px;
}
.footer-menu li {
  list-style: none;
}
.menu-footer-menu-container li a {
  font-family: "Branch-Regular", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}
footer .spacer {
  height: 220px;
  width: 100%;
}

footer .footer-links {
  max-width: 700px;
  padding: 0px 50px;
  display: flex;
  margin: 0 auto;
  position: relative;
}
footer .footer-links a {
  text-decoration: none;
  font-size: 12px;
  line-height: 50px;
  margin: 0;
  font-family: "Branch-Regular", serif;
  z-index: 100;
}
.contact-us-footer h2 {
  font-family: "Branch-Regular", serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 16px;
}
.contact-us-footer a {
  color: #2e354f;
}
.contact-us-footer {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.contact-us-footer a.footer-phone-call,
a.footer-email,
a.footer-submit-a-brief {
  display: flex;
  align-items: center;
}
.contact-us-footer a.footer-phone-call img,
a.footer-email img,
a.footer-submit-a-brief img {
  padding-right: 14px;
}
footer .sign-up {
  text-align: left !important;
  margin-bottom: 16px;
}
footer .footer-socials .img-cont a {
  width: 31px;
  height: 31px;
}
footer .footer-links {
  margin-top: 66px;
}
footer .footer-links a {
  font-family: "Branch-Regular", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}
footer .footer-links .item1 {
  flex-grow: 1;
}
footer .footer-links .item2 {
  flex-grow: 6;
}
footer .footer-links .item3 {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

footer .img-cont-mob {
  display: none;
}

.page-contact-us-footer .wp-block-column a {
  color: #ffffff;
  text-decoration: none;
}
.page-contact-us-footer .wp-block-column .contact-details {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1200px) {
  footer .footer-socials::after {
    width: 320px;
  }
}

@media only screen and (max-width: 900px) {
  footer .footer-socials::before {
    left: 0px;
  }
  footer .footer-socials::after {
    width: 280px;
  }
  footer{margin-top: 55px;}
}

@media only screen and (max-width: 500px) {
  footer .footer-socials {
    flex-direction: column;
  }
  footer .footer-links {
    flex-direction: column;
    text-align: center;
    position: relative;
  }

  footer .menu-footer-menu-container {
    padding: 0;
    text-align: center;
  }
  footer .footer-socials::before,
  footer .footer-socials::after {
    display: none;
  }
  footer .img-cont-mob {
    margin-top: 34px;
  }
  footer .footer-menu {
    top: 54px;
  }
  footer .img-cont {
    display: none !important;
  }

  footer .contact-us-footer,
  footer .sign-up {
    display: none;
  }

  footer .img-cont-mob {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 353px;
  }

  footer .footer-links .item3 {
    justify-content: center;
  }
}

@media (min-width: 800px) and (max-width: 1050px) {
  footer .footer-socials::before {
    left: -50px;
  }
}

@media (min-width: 800px) {
  .menu-footer-menu-container {
    padding-top: 4px;
  }
  .contact-us-footer a {
    font-size: 13px;
  }
  footer .sign-up {
    padding-top: 4px;
  }
  footer .footer-socials h2 {
    margin-top: 0;
  }
}
