/*
font-family: 'Branch-Regular';
font-family: 'Optima';
*/
body{font-family: 'Optima', sans-serif;font-weight: 400;font-style: normal;margin: 0 auto;font-size: 15px;line-height:24px;color:#2E354F;}
a{color:#000;}
h1{font-weight: 500; font-size: 60px !important;font-family: 'Branch-Regular', serif;}
h2,.single-our-work h1{font-weight: 500;font-size: 50px !important;font-family: 'Branch-Regular', serif;}
h3{font-weight: 400;font-family: 'Optima', sans-serif;}
h4{font-size: 25px;}
.case-studies h2{font-size: 28px !important;}
p,li{font-family: 'Optima', sans-serif;font-size: 15px !important;}
p.has-medium-font-size{font-size: 25px;}
p.has-large-font-size {font-size: 25px !important;}
.wp-block-button a,
h3{font-size: 20px !important;}
img{height: auto;}
.lose-margin-top {margin-top: 0;}
.lose-margin-bottom {margin-bottom: 0;}
.hideme {display: none !important;}
.bold-me{font-family: 'Optima-bold', sans-serif;}
/* All Width Alignments */
.wrapper,
.wp-block-group__inner-container,
.gimme-max-width{max-width: 1000px; padding:50px; margin: 0px auto;}
.no-margin {margin: 0;}
.grey-background{background-color: #F5F5F5;padding: 40px 0;}
main#site-content{z-index: 1;position: relative;}
.gradient-background-L2D{background: linear-gradient(#0B6473, #2F354D);}

ul.slick-dots {display: flex;flex-wrap: nowrap; justify-content: center; font-size: 30px;}
.slick-dots li {width: 20px; cursor: pointer;}
.slick-dots li button {display: none;}
.slick-dots li::marker {color: #cecece81;}
.slick-dots li.slick-active::marker {color: #ffffff;}

a.fixme {display: block;position: fixed;bottom:  0;right: 0;z-index: 20;}
@media only screen and (max-width:1220px){
	a.fixme img{width: 100px;margin-right: 5px;}
}

ol li,
ul li{font-size: 14px;font-family: 'Optima', sans-serif;}

@media only screen and (max-width:600px){
	h1{font-size: 40px !important;}
	h2,.single-our-work h1{font-size: 30px !important;}
	.wp-block-button a{font-size: 14px !important}
	.case-studies h2, h3{font-size: 16px !important;}
	p,li{font-size: 14px !important;}
	p.has-large-font-size {font-size: 19px !important;}

}

.mobile {display: none !important;} 