.page-golden-circle {
    background-color: #faf3e8;
}

.page-golden-circle #site-content {
    background-color: #faf3e8;
}

.golden-intro {
    background: transparent linear-gradient(180deg, #007a79 0%, #003e40 100%) 0%
        0% no-repeat padding-box;
    padding-top: 180px;
    color: #fff;
}
.golden-intro .wp-block-group__inner-container {
    padding-top: 0;
    max-width: 1160px;
    padding-bottom: 260px;
}
.golden-intro h1 {
    margin-bottom: 20px;
    line-height: 50px;
    margin-top: 0;
}

.golden-intro p,
.golden-intro li,
.golden-footer p {
    font-size: 16px !important;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    .golden-intro p,
    .golden-intro li,
    .golden-footer p {
        font-size: 14px !important;
    }
}

.golden-intro ul {
    list-style: none;
    position: relative;
    margin-left: 0;
    padding-left: 0;
    padding-left: 0;
}

.golden-intro li {
    margin-bottom: 8px;
    position: relative;
    padding-left: 1.2rem;
}

.golden-intro li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    background-image: url(../images/check.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 14px;
    display: block;
    height: 14px;
}

.golden-intro-bottom {
    margin-bottom: 0;
}
.golden-intro-bottom .wp-block-group__inner-container {
    padding-left: 0;
    padding-bottom: 0;
    display: flex;
}

.golden-intro-bottom .wp-block-group__inner-container p {
    margin-right: 37px;
    display: flex;
}

.golden-intro-bottom .wp-block-group__inner-container p:first-of-type::before {
    content: "";
    background-image: url(../images/clock.svg);
    width: 23px;
    height: 23px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 14px;
}

.golden-intro-bottom .wp-block-group__inner-container p:nth-of-type(2)::before {
    content: "";
    background-image: url(../images/map.svg);
    width: 23px;
    height: 23px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 14px;
}

.golden-intro-bottom .wp-block-group__inner-container p:last-of-type::before {
    content: "";
    background-image: url(../images/user.svg);
    width: 23px;
    height: 23px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 14px;
}

.golden-intro-bottom .wp-block-group__inner-container p:last-of-type {
    margin-right: 0;
}

.form-white-wrapper {
    transform: translateX(-50%);
    position: absolute;
    z-index: 3;
    width: 100%;
    margin: 0 auto;
    margin-top: -200px;
    left: 50%;
}

.form-white-wrapper > .wp-block-group__inner-container {
    max-width: 1160px;
    padding-top: 0;
    padding-bottom: 0;
}

.golden-signup {
    background-color: #fff;
    padding: 26px 24px;
}

.golden-signup h2,
.golden-signup p {
    max-width: 640px;
    margin: 0 auto;
    color: #006675;
}

.golden-signup h2 {
    line-height: 50px;
    margin-bottom: 20px;
}

.golden-signup p,
.guest-speaker-ctn h3 {
    font-size: 16px !important;
    line-height: 25px;
}
@media screen and (max-width: 767px) {
    .golden-signup p,
    .guest-speaker-ctn h3 {
        font-size: 14px !important;
    }
}

.golden-signup .wp-block-group__inner-container {
    border: 1px solid #c89533;
    max-width: 100%;
    position: relative;
}

.golden-signup .wp-block-image.small-star {
    position: absolute;
    margin-bottom: 0;
    top: 100px;
    left: 65px;
    max-width: 40px;
}
.golden-signup .wp-block-image.big-star {
    position: absolute;
    margin-bottom: 0;
    bottom: 130px;
    left: 90px;
    max-width: 70px;
}

.golden-signup form {
    display: flex;
    justify-content: center;
    font-family: "Optima", sans-serif;
    margin-top: 40px;
}
.golden-signup form input {
    border: 1px solid #cf9303;
    border-radius: 21px;
    padding: 12px 20px;
    margin: 5px;
    width: 327px;
    color: #006675;
}
.golden-signup form input[type="text"] {
    width: 255px;
}
.golden-signup input[type="submit"] {
    background-color: #006675;
    color: white;
    border: 0;
    width: 100px;
    cursor: pointer;
}
.golden-signup input::placeholder {
    color: #006675 !important;
}

.guest-speaker-ctn {
    margin-top: 0px;
}
.guest-speaker-ctn .wp-container-12 {
    align-self: flex-end;
}
.guest-speaker-ctn .wp-container-12 p {
    max-width: 560px;
}

.golden-content {
    background-color: #faf3e8;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.golden-content .wp-block-group__inner-container {
    padding-top: 280px;
    position: relative;
    padding-bottom: 0px;
}

.golden-content .wp-block-image {
    z-index: 2;
    position: relative;
}

.golden-content .wp-block-group__inner-container:before {
    content: "";
    position: absolute;
    top: 37%;
    right: 5%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/golden-container-lines.svg);
    width: 832px;
    height: 100%;
    z-index: -1;
}
.golden-content p {
    font-size: 16px !important;
    line-height: 20px;
}

.guest-speaker-ctn .wp-container-11 {
    padding-top: 0;
    padding-bottom: 0px;
}

.guest-speaker-ctn .wp-container-11 p {
    max-width: 580px;
}
.guest-speaker-ctn .wp-container-11 p:last-child {
    margin-bottom: 0;
}

.wp-container-12 {
    margin-bottom: 0;
}
.wp-container-12 {
    padding-bottom: 6%;
}

.golden-footer {
    background-color: #30364b;
    overflow: hidden;
}

.golden-footer .wp-block-group__inner-container {
    padding-top: 0;
    padding-top: 55px;
    padding-bottom: 76px;
    text-align: center;
    position: relative;
    max-width: 900px;
}

.golden-footer .wp-block-group__inner-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/line-form-golden-left.svg);
    width: 350px;
    height: 74px;
}
.golden-footer .wp-block-group__inner-container::after {
    content: "";
    position: absolute;
    top: 41px;
    right: -254px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/line-form-golden-right.svg);
    width: 598px;
    height: 65px;
}

.golden-footer h2 {
    margin-bottom: 35px;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0;
    background: #30364b;
}

.golden-footer h2,
.golden-footer p {
    color: white;
}

.golden-footer form {
    display: flex;
    justify-content: center;
    font-family: "Optima", sans-serif;
    margin-top: 41px;
}
.golden-footer form input {
    border: 1px solid #cf9303;
    border-radius: 21px;
    padding: 12px 20px;
    margin: 5px;
    color: white;
    width: 327px;
    background-color: #30364b;
}
.golden-footer form input[type="text"] {
    width: 255px;
    margin-right: 30px;
}
.golden-footer form input[type="email"] {
    margin-right: 20px;
}
.golden-footer input[type="submit"] {
    background-color: #006675;
    color: white;
    border: 0;
    width: 100px;
    cursor: pointer;
}
.golden-footer input::placeholder {
    color: #fff !important;
}
.golden-intro .wp-container-4 {
    display: none;
}
.page-golden-circle .guest-speaker-container {
    max-width: 500px;
    position: relative;
    top: 138px;
}
.page-golden-circle .guest-speaker-container h2 {
    margin-top: 34px;
}

/* mobile */
@media screen and (max-width: 767px) {
    .golden-intro {
        padding-top: 130px;
    }
    .golden-intro .wp-block-group__inner-container {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 115px;
    }
    .golden-intro h1 {
        line-height: 40px;
        text-align: center;
        font-size: 40px !important;
    }
    .golden-intro p {
        text-align: center;
    }
    .golden-intro p,
    .golden-intro li,
    .golden-footer p {
        font-size: 14px !important;
        line-height: 20px !important;
    }
    .golden-intro ul {
        max-width: 370px;
        margin-left: auto;
        margin-right: auto;
    }
    .golden-intro-bottom .wp-block-group__inner-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .golden-intro-bottom .wp-block-group__inner-container p {
        margin-right: 0;
        min-width: 220px;
    }
    .golden-intro .wp-container-3 {
        margin-bottom: 0;
    }
    .golden-intro .wp-container-3 .wp-container-2 {
        display: none;
    }
    .golden-intro .wp-container-4 {
        display: block;
    }
    .golden-intro .wp-container-4 .wp-block-image {
        margin-bottom: 0;
        margin-top: 20px;
        max-width: 230px;
    }
    .golden-signup .wp-block-image.big-star,
    .golden-signup .wp-block-image.small-star {
        display: none;
    }
    .form-white-wrapper > .wp-block-group__inner-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .golden-signup .wp-block-group__inner-container {
        padding: 15px 25px 40px;
    }
    .golden-signup h2 {
        line-height: 30px;
    }
    .golden-signup p,
    .golden-content p,
    .golden-content h3 {
        font-size: 14px !important;
        line-height: 20px;
    }
    .golden-signup form,
    .golden-footer form {
        margin-top: 15px;
        flex-direction: column;
    }
    .golden-signup form input,
    .golden-footer form input {
        width: auto !important;
        margin-left: 0;
        margin-right: 0;
        max-height: 40px;
        margin-bottom: 20px;
        margin-top: 0;
    }
    .golden-signup input[type="submit"],
    .golden-footer form input[type="submit"] {
        max-width: 183px;
        display: block;
        margin: 0px auto 0;
        min-width: 105px;
    }
    .golden-content .wp-block-group__inner-container {
        padding-top: 288px;
    }
    .golden-content .wp-block-group__inner-container:before {
        display: none;
    }
    .golden-content .wp-container-13 {
        flex-direction: column-reverse;
    }
    .golden-content .wp-container-13 .wp-block-image img {
        max-width: 180px;
    }
    .golden-footer .wp-block-group__inner-container::before,
    .golden-footer .wp-block-group__inner-container::after {
        display: none;
    }
    .golden-footer h2 {
        font-size: 40px !important;
        line-height: 40px;
    }
    .golden-footer .wp-block-group__inner-container,
    .golden-content .wp-block-group__inner-container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .golden-footer form {
        max-width: 255px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
    }
    .golden-footer form input[type="text"],
    .golden-footer form input[type="email"] {
        width: auto !important;
        max-width: 100%;
        margin-right: 0;
    }
    .golden-footer .wp-block-group__inner-container {
        padding-bottom: 54px;
    }
    .form-white-wrapper {
        max-width: 390px;
    }
    .golden-signup h2 {
        font-size: 30px !important;
    }
    .guest-speaker-ctn .wp-container-12 {
        align-self: flex-start;
    }
    .golden-content .wp-container-11 {
        position: relative;
        display: inline-block;
        max-width: 335px;
    }
    .golden-content .wp-container-11:after {
        background-repeat: no-repeat;
        background-image: url(../images/golden-mobile-line-1.svg);
        position: absolute;
        top: 25px;
        right: 0;
        background-position: center;
        background-size: contain;
        display: block;
        width: 174px;
        height: 237px;
        content: "";
    }
    .golden-footer .wp-block-group__inner-container {
        position: relative;
    }
    .golden-footer .wp-block-group__inner-container:before {
        background-repeat: no-repeat;
        background-image: url(../images/golden-mobile-line-2.svg);
        position: absolute;
        top: 0px;
        left: 8px;
        background-position: center;
        background-size: contain;
        display: block;
        width: 49px;
        height: 73px;
        content: "";
    }
    .golden-content .wp-block-group__inner-container,
    .golden-footer .wp-block-group__inner-container {
        max-width: 350px;
    }
    .guest-speaker-ctn h2 {
        margin-top: 0;
    }
}

@media screen and (max-width: 380px) {
    .golden-signup h2 {
        font-size: 28px !important;
    }
    .golden-signup .wp-block-group__inner-container {
        padding: 15px 25px 30px;
    }
}

@media screen and (max-width: 364px) {
    .golden-signup h2 {
        font-size: 26px !important;
    }
    .golden-signup .wp-block-group__inner-container {
        padding: 15px 15px 30px;
    }
    .golden-signup {
        min-height: 487px;
        display: flex;
    }
}

@media screen and (max-width: 328px) {
    .golden-signup h2 {
        font-size: 24px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .golden-signup .wp-block-image.big-star,
    .golden-signup .wp-block-image.small-star {
        display: none;
    }
    .golden-intro .wp-block-group__inner-container {
        padding-bottom: 220px;
    }
    .golden-content .wp-block-group__inner-container {
        padding-top: 310px;
    }
    .golden-intro .wp-block-image {
        text-align: center;
    }
    .golden-content .wp-block-group__inner-container:before {
        display: none;
    }
    .guest-speaker-ctn .wp-container-12 p {
        max-width: 100%;
    }
    .golden-footer .wp-block-group__inner-container::after {
        right: -340px;
    }
}

@media screen and (min-width: 768px) and (max-width: 781px) {
    .golden-content .wp-container-11 {
        max-width: 470px;
        position: relative;
    }
    .golden-content .wp-container-11:after {
        background-repeat: no-repeat;
        background-image: url(../images/golden-mobile-line-1.svg);
        position: absolute;
        top: 25px;
        right: 0;
        background-position: center;
        background-size: contain;
        display: block;
        width: 174px;
        height: 237px;
        content: "";
    }
}

@media screen and (min-width: 782px) and (max-width: 991px) {
    .golden-content .wp-container-9 {
        align-self: center;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .guest-speaker-ctn .wp-container-12 p {
        max-width: 540px;
    }
    .golden-signup .wp-block-image.big-star,
    .golden-signup .wp-block-image.small-star {
        display: none;
    }
    .golden-intro .wp-block-group__inner-container {
        padding-bottom: 210px;
    }
}
