/*
font-family: 'Branch-Regular';
font-family: 'Optima';
*/

header{position: absolute; z-index: 10;padding-top: 35px;}
header .header-wrapper{width:100vw;}
img.logo{width: 150px; position: relative; left:5%;}
.colour-logo{display: none;}


/* Burger menu*/
.burger {position: fixed;top: 45px;right: 5%;height: 80px;width: 80px;cursor: pointer;transition: 0.3s;z-index: 12; border:2px solid #CF9303; border-radius: 50%;}
.burger span {position: absolute;height: 2px;width: 9vw;background-color: #CF9303;top:50%;left: 50%;transform: translate(-50%,-50%);width:50px;transition: 0.3s;}
.burger span:before {content: '';position: absolute;top:-10px;background-color: #CF9303;height: 2px;width: 50px;transition: 0.3s;}
.burger span:after {content: '';position: absolute; top: 10px;background-color: #CF9303;height: 2px;width: 25px;margin-left:25px; transition: 0.3s;}
.burger.active span {background-color: transparent;}
.burger.active span:before {transform: rotate(45deg);top: 0;background-color: #CF9303}
.burger.active span:after {transform: rotate(-45deg); width:50px; margin-left: 0; top: 0;background-color: #CF9303;}
ul.nav.menu {background: linear-gradient(#003E40, #007A79); position: absolute; top: 0;right: 0;width: 100%;height: auto;transform: translateX(100%);transition: 0.5s; text-align: left;margin-top:0;box-shadow: 0px 0px 20px #333;display: none;height: 100vh;background-size: 100%;}
ul.nav.menu.active {position:fixed; display:block; transform: translateX(0); transition: 0.5s;}
ul.nav.menu li a {display: block;font-size: 1.5rem;height: 50px;line-height: 50px;padding: 0 20px;letter-spacing: 1px;text-decoration: none;transition: 0.5s;color: white;margin-top: 30px;}
ul.nav.menu svg{width: 100%;position: absolute;bottom: 0;height: 100vh;}

@media only screen and (max-width:600px){
	img.logo{width: 100px;margin-top: -20px;}
	.burger {height: 50px;width: 50px;top: 20px;}
	.burger span,.burger span:before{width: 35px;}
	.burger span:after {width: 20px;margin-left: 15px;}
	.burger.active span:after{width: 35px;}
}