.page-home h1, h2{margin:20px 0px; position: relative;font-size: 50px;}
.page-home .hero-video {height:100vh;}
.page-home .hero-video .wp-block-button{position: absolute; top:66vh;}
.page-home .hero-video .wp-block-button a{display: none; transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1); background-color: transparent; border:1px solid white; width:240px; padding:10px; font-size: 24px; font-family: 'Optima', sans-serif; z-index: 0;}

.page-home .hero{background: linear-gradient(#003E40, #007A79); height:780px; width:100vw;}
.page-home .hero .wp-block-group__inner-container{max-width:100%; padding:0px;}
.page-home .hero-lines{background-image: url("../images/homepage-bg.svg"); background-repeat: no-repeat; background-position: center; background-size: 1500px; width:100%; height:890px; position: absolute;}
.page-home .hero .wp-block-button{position: absolute; top:500px; right:25vw;}
.page-home .hero .wp-block-button a{background-color: transparent; border:1px solid white; width:275px; font-size: 24px; font-family: 'Optima', sans-serif; z-index: 0;}
.page-home .client-logo-block{background-color: #2F354D; color: white; width:100%;}
.page-home .client-logo-block h1{margin:0px 0px 80px 0px;}
.page-home .client-logo-block .wp-block-group__inner-container{max-width: 1200px !important; padding:80px 50px;}
.page-home .client-logo-block .wp-block-columns,.page-home .client-logo-block .wp-block-image {margin-bottom: 0;}
.page-home .client-logo-block .wp-block-columns:first-of-type{margin-bottom: 80px !important; padding:0% !important;}

.page-home .case-study-block {background-color: white;}
.page-home .case-study-block .wp-block-group__inner-container{padding-top: 0px;}
.page-home .case-study-block .wp-block-button a{width:250px; background-color: transparent; border:1px solid #2E354F; color: #2E354F; font-size: 20px; font-family: 'Optima', sans-serif; padding:10px;}
.page-home .case-study-block .curved-img-border{border:2px solid #CF9303; border-top-right-radius: 108px; padding:0px;}
.page-home .curved-img-border .wp-block-group__inner-container{padding:0px;}
.page-home .curved-img-border .wp-block-image{margin:0px;}
.page-home .case-study-block img{border-top-right-radius: 108px; filter: grayscale(1);}
.page-home .case-study-block img:hover{filter: grayscale(0); transition: 0.2s;}
.page-home .case-study-block a{text-decoration: none;}

.page-home .sign-up-block{background-color: #006675; height:500px; width:100%; background-image: url(../images/sign-up-block-bg.svg); background-repeat: no-repeat; background-size:cover; background-position: center; display: flex; align-items: center; color:#006675;}
.page-home .sign-up-block .wp-block-group__inner-container{ height:300px; width:75%; background-image: url(../images/sign-up-block-inner.svg); background-repeat: no-repeat; background-size: contain;background-position: center;}
.page-home .sign-up-block h2{margin-top: 35px;}
.page-home .sign-up-block p{font-size: 18px !important;}
.page-home .sign-up-block form{display: flex; justify-content: center; font-family: 'Optima', sans-serif;}
.page-home .sign-up-block form input{border: 1px solid #CF9303;  border-radius: 21px;padding: 1%; margin:5px;}
.page-home .sign-up-block input[type="submit"] {background-color: #006675; color:white; border:0; width:100px; cursor: pointer;}
.page-home .sign-up-block input::placeholder{color:#006675 !important; padding-left: 10px;}

   
    
.page-home .testimonial-block{background-color: #2F354D; color:white; background-image: url("../images/testi-bg.svg"); background-repeat: no-repeat; background-size:1550px; background-position: center; height:600px;}
.page-home .testimonial-block h1::after{content:''; background-image: url("../images/stars.svg"); background-size: contain; background-repeat:no-repeat; width:100px; height:100px; position: absolute; bottom:-30px;}
.page-home .testimonial-block .testimonial-slider {max-width: 700px; margin:0 auto; cursor:grab;}

.page-home .blog-block{background-color: white; background-image:url("../images/homepage-blog-img.svg"); background-repeat: no-repeat; background-position: center; background-size: 1547px; height:837px;}
.page-home .blog-block .wp-block-button a{width:250px; background-color: transparent; border:1px solid #2E354F; color: #2E354F; font-size: 20px; font-family: 'Optima', sans-serif; padding:10px;}
.page-home .blog-block h1{bottom:40px;}
.page-home .blog-block .wp-block-columns{position: relative; top:150px;}
.page-home .blog-block .wp-block-latest-posts.wp-block-latest-posts__list{display: inline-block;}
.page-home .blog-block .wp-block-latest-posts.wp-block-latest-posts__list a{text-decoration: none; font-size: 50px; font-family: 'Branch-Regular', serif;}
.page-home .blog-block .wp-block-latest-posts.wp-block-latest-posts__list .wp-block-latest-posts__post-excerpt{font-size: 15px; font-family: 'Optima', sans-serif;}




@media only screen and (max-width:1100px){
    .page-home .sign-up-block h2 {font-size: 40px !important; margin-top: 40px;}
    .page-home .sign-up-block p{font-size: 15px !important; line-height: 20px;}
}

@media only screen and (max-width:900px){
    /*.page-home .hero .wp-block-button{right:5vw; top:470px;}
    .page-home .hero-lines {background-size: 1200px;}*/
    .page-home .hero-video{height:70vh;}
    .page-home .hero-video .wp-block-button{top:44vh; right:4vw;}
    .page-home .sign-up-block h2 {font-size: 35px !important; margin-top: 60px; line-height: 0px;}
    .page-home .sign-up-block p{font-size: 15px !important; line-height: 20px;}

}

@media only screen and (max-width:800px){
    .page-home .sign-up-block h2 {font-size: 35px !important; margin-top: 75px; line-height: 0px;}
    .page-home .sign-up-block p{font-size: 14px !important; line-height: 18px;} 
}
@media only screen and (max-width:783px){
    .page-home .client-logo-block .wp-block-column{flex-basis: 40% !important;}
    .page-home .client-logo-block h1{margin:0px 0px 50px 0px;}
    .page-home .client-logo-block .wp-block-group__inner-container{max-width: 1200px !important; padding:50px;}
    .page-home .client-logo-block .wp-block-columns:first-of-type{margin-bottom: 2em !important; padding:0% !important;}
    }
@media only screen and (max-width:500px){
    .page-home .hero{height:838px;}
    .page-home .hero-lines{background-image: url("../images/homepage-bg-mob.svg"); background-size: 410px; background-position: center; width:100vw; position: absolute;}
    .page-home .hero .wp-block-button{display: none;}
    .page-home .wp-block-group__inner-container{padding:20px;}
    .page-home .wp-block-column{margin-bottom:50px;}
    .page-home .blog-block {background-image: url("../images/ipad-img-mob.svg"); background-size: 450px;}
    .page-home .blog-block .wp-block-group__inner-container{padding: 0px;}
    .page-home .blog-block .wp-block-columns{top:375px; padding:20px;}
    .page-home .blog-block .wp-block-latest-posts.wp-block-latest-posts__list a{font-size: 35px;}
    .page-home h1{font-size: 50px;}
    .page-home .sign-up-block{height:620px;}
    .page-home .sign-up-block h2{line-height: 25px; margin-top: 20px;}
    .page-home .sign-up-block .wp-block-group__inner-container{background-image: url(../images/sign-up-block-inner-mob.svg); height:490px; padding:40px;}
    .page-home .sign-up-block form{flex-direction: column;}
    .page-home .sign-up-block input{height:40px;}
    .page-home .sign-up-block form input[type="submit"] {width:97%;}
}