
.page-in-real-life .hero{background-color:#2F354D; color: white; font-size: 20px; height:780px; background-image: url("../images/irl-hero.svg"); background-repeat: no-repeat; background-position: center; background-size: 1400px;}
.page-in-real-life .hero p{position: relative; top:585px; left:50px; max-width: 500px;}

.page-in-real-life .case-studies{color:#2F354D; background-color: white;}
.page-in-real-life .case-studies h2{font-family: 'Optima', sans-serif; font-size:26px;}
.page-in-real-life .case-studies .curved-img-border-right{border:1px solid #CF9303; border-top-right-radius: 108px; padding:0px;}
.page-in-real-life .case-studies .curved-img-border-right .wp-block-group__inner-container{padding:0px;}
.page-in-real-life .case-studies .curved-img-border-left{border:1px solid #CF9303; border-top-left-radius: 108px; padding:0px;}
.page-in-real-life .case-studies .curved-img-border-left .wp-block-group__inner-container{padding:0px;}
.page-in-real-life .case-studies .wp-block-image{margin:0px;}
.page-in-real-life .case-studies .curved-img-border-right img{border-top-right-radius: 108px; filter: grayscale(1);}
.page-in-real-life .case-studies .curved-img-border-left img{border-top-left-radius: 108px; filter: grayscale(1);}
.page-in-real-life .case-studies img:hover{filter: grayscale(0); transition: 0.2s;}
.page-in-real-life .case-studies .wp-block-button a {background-color: transparent; border:1px solid #2F354D; color:#2F354D; width:275px; font-size: 16px; font-family: 'Optima', sans-serif; z-index: 0; margin-bottom: 20px;}


/*Case studies gold lines */
.page-in-real-life .case-studies .wp-block-group__inner-container:first-child{padding: 0px; max-width: none;}
.page-in-real-life .case-studies .column-lines-container-1 .wp-block-group__inner-container{padding: 0px;}
.page-in-real-life .case-studies .column-lines-container-2 .wp-block-group__inner-container{padding: 0px;}
.page-in-real-life .case-studies .column-lines-container-1 .wp-block-columns{max-width: 1000px; margin:0 auto; padding-top:87px;}
.page-in-real-life .case-studies .column-lines-container-2 .wp-block-columns{max-width: 1000px; margin:0 auto; padding-top:80px;}
.page-in-real-life .case-studies .column-lines-container-1{background-image: url("../images/gold-lines-1.svg"); background-repeat: no-repeat; background-position: center; background-size: 1400px; height: 360px;}
.page-in-real-life .case-studies .column-lines-container-2{background-image: url("../images/gold-lines-2.svg"); background-repeat: no-repeat; background-position: center; background-size: 1502px; height:410px;}
.page-in-real-life .case-studies .column-lines-container-2 .wp-block-column:nth-of-type(2){padding-top: 53px;}
.page-in-real-life .case-studies .column-lines-container-2 h2, .page-in-real-life .case-studies .column-lines-container-2 p {max-width:450px;}


.page-in-real-life .testimonials {color:white; background: linear-gradient(#003E40, #007A79);}
.page-in-real-life .testimonials .wp-block-group__inner-container{max-width: 750px; padding:80px;}
.page-in-real-life .testimonials h1::after{content:''; background-image: url("../images/stars.svg"); background-size: contain; background-repeat:no-repeat; width:100px; height:100px; position: absolute; margin-top: -50px;}

.page-in-real-life .what-we-do-links {background-color:#F8EEE1;}
.page-in-real-life .what-we-do-links .wp-block-columns{justify-content: space-between;}
.page-in-real-life .what-we-do-links .online-column::before{content: url("../images/before.svg"); position: relative; top:50%; right:10%;}
.page-in-real-life .what-we-do-links .offline-column::after{content: url("../images/after.svg"); position: relative; left:10%; bottom:50%; float: right;}

@media only screen and (max-width:1100px){
    .page-in-real-life .hero{background-size:1100px; height:750px;}
    .page-in-real-life .hero p{top:555px; left:150px;}
}

@media only screen and (max-width:600px){
    .page-in-real-life .hero {height: auto;}
    .page-in-real-life main#site-content {background-color: white;}
    .page-in-real-life .hero .wp-block-group__inner-container {padding: 12vh 0 35px;}
    .page-in-real-life h1 {text-align: center;font-size: 40px;}
    .page-in-real-life .hero p{position: initial;max-width: 90%;margin: 20px auto;}
    .page-in-real-life .hero {background-image: none;}
    .page-in-real-life .case-studies h2 {font-size: 18px}
}