.page-online .hero {
  background-color: #2f354d;
  color: white;
  font-size: 20px;
  height: 780px;
  background-image: url("../images/online-hero.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1400px;
}
.page-online .hero p {
  position: relative;
  bottom: -560px;
  max-width: 700px;
  left: 184px;
}
.page-online .hero .wp-block-group__inner-container {
  height: 100%;
}
.page-online .journeys {
  background-color: #fbfbfb;
}
.page-online .journeys h2 {
  font-family: "Optima", sans-serif;
  font-size: 26px;
}

.page-online .engage,
.engage-mob {
  background-color: #f6eee2;
}
.page-online .convert,
.convert-mob {
  background-color: #006675;
  color: white;
}
.page-online .advocate,
.advocate-mob {
  background-color: #2f354d;
  color: white;
}

.page-online .case-studies {
  color: #2f354d;
  background-color: white;
}
.page-online .case-studies h2 {
  font-family: "Optima", sans-serif;
  font-size: 26px;
}
.page-online .case-studies .curved-img-border-right {
  border: 1px solid #cf9303;
  border-top-right-radius: 108px;
  padding: 0px;
}
.page-online
  .case-studies
  .curved-img-border-right
  .wp-block-group__inner-container {
  padding: 0px;
}
.page-online .case-studies .curved-img-border-left {
  border: 1px solid #cf9303;
  border-top-left-radius: 108px;
  padding: 0px;
}
.page-online
  .case-studies
  .curved-img-border-left
  .wp-block-group__inner-container {
  padding: 0px;
}
.page-online .case-studies .wp-block-image {
  margin: 0px;
}
.page-online .case-studies .curved-img-border-right img {
  border-top-right-radius: 108px;
  filter: grayscale(1);
}
.page-online .case-studies .curved-img-border-left img {
  border-top-left-radius: 108px;
  filter: grayscale(1);
}
.page-online .case-studies img:hover {
  filter: grayscale(0);
  transition: 0.2s;
}
.page-online .case-studies .wp-block-button a {
  background-color: transparent;
  border: 1px solid #2f354d;
  color: #2f354d;
  width: 275px;
  font-size: 16px;
  font-family: "Optima", sans-serif;
  z-index: 0;
  margin-bottom: 20px;
}

/*Case studies gold lines */
.page-online .case-studies .wp-block-group__inner-container:first-child {
  padding: 0px;
  max-width: none;
}
.page-online
  .case-studies
  .column-lines-container-1
  .wp-block-group__inner-container {
  padding: 0px;
}
.page-online
  .case-studies
  .column-lines-container-2
  .wp-block-group__inner-container {
  padding: 0px;
}
.page-online .case-studies .column-lines-container-1 .wp-block-columns {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 87px;
}
.page-online .case-studies .column-lines-container-2 .wp-block-columns {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 80px;
}
.page-online .case-studies .column-lines-container-1 {
  background-image: url("../images/gold-lines-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1400px;
  height: 360px;
}
.page-online .case-studies .column-lines-container-2 {
  background-image: url("../images/gold-lines-2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1502px;
  height: 410px;
}
.page-online
  .case-studies
  .column-lines-container-2
  .wp-block-column:nth-of-type(2) {
  padding-top: 53px;
}
.page-online .case-studies .column-lines-container-2 h2,
.page-online .case-studies .column-lines-container-2 p {
  max-width: 450px;
}

.page-online .testimonials {
  color: white;
  background: linear-gradient(#003e40, #007a79);
}
.page-online .testimonials .wp-block-group__inner-container {
  max-width: 750px;
  padding: 80px;
}
.page-online .testimonials h1::after {
  content: "";
  background-image: url("../images/stars.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
  margin-top: -50px;
}

@media only screen and (max-width: 500px) {
  .page-online .hidden-content-engage,
  .hidden-content-convert,
  .hidden-content-advocate {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .page-online .hero {
    height: auto;
  }
  .page-online main#site-content {
    background-color: white;
    zoom: 0.9;
  }
  .page-online .hero .wp-block-group__inner-container {
    padding: 12vh 0 35px;
  }
  .page-online h1 {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
  }
  .page-online .hero p {
    position: initial;
    max-width: 90%;
    margin: 20px auto;
    font-size: 14px;
  }
  .page-online .hero {
    background-image: none;
  }
  .page-online .wp-block-group__inner-container {
    padding: 20px;
  }
  .page-online p.has-medium-font-size {
    font-size: 14px !important;
  }
  .page-online .case-studies h2 {
    font-size: 18px;
  }
  .page-online .testimonials .wp-block-group__inner-container {
    padding: 40px;
  }
}

.page-online .what-we-do-links {background-color:#F8EEE1;}
.page-online .what-we-do-links .wp-block-columns{justify-content: space-between;}
.page-online .what-we-do-links .offline-column::before{content: url("../images/before.svg"); position: relative; top:50%; right:10%;}
.page-online .what-we-do-links .irl-column::after{content: url("../images/after.svg"); position: relative; left:10%; bottom:50%; float: right;}


@media only screen and (max-width:500px){
    
    .page-online .hidden-content-engage, .hidden-content-convert, .hidden-content-advocate{display: none;}
}
@media only screen and (max-width:600px){
    .page-online .hero {height: auto;}
    .page-online main#site-content {background-color: white;}
    .page-online .hero .wp-block-group__inner-container {padding: 12vh 0 35px;}
    .page-online h1 {text-align: center;font-size: 40px;line-height: 40px;}
    .page-online .hero p{position: initial;max-width: 90%;margin: 20px auto;font-size: 14px;}
    .page-online .hero {background-image: none;}
    .page-online .wp-block-group__inner-container{padding:20px;}
    .page-online p.has-medium-font-size {font-size: 14px !important;}
    .page-online .case-studies h2 {font-size: 18px;}
    .page-online .testimonials .wp-block-group__inner-container {padding: 40px;}
}

