/* our work */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}

/* hero */
.page-our-work-offline .hero,
.page-our-work-online .hero,
.page-our-work-in-real-life .hero {
    background: #2f354d;
    color: #ffffff;
    min-height: 800px;
    overflow: hidden;
}
.page-our-work-offline .hero .wp-block-group__inner-container,
.page-our-work-online .hero .wp-block-group__inner-container,
.page-our-work-in-real-life .hero .wp-block-group__inner-container {
    position: relative;
    height: 100%;
}
.page-our-work-offline .hero h1,
.page-our-work-online .hero h1,
.page-our-work-in-real-life .hero h1 {
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding-top: 100px;
    padding-bottom: 160px;
    font-size: 72px;
}

/* categories */
.our-work-categories ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    column-gap: 6%;
}
.our-work-categories ul li {
    position: relative;
}
.our-work-categories ul li a {
    display: block;
    width: 100%;
    height: 100%;
}
.page-our-work-offline ul li.active:before {
    content: "";
    background-image: url("../images/our-work/offline-hero-illustration.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: -140px;
    left: 130px;
    width: 322px;
    height: 141px;
}
.page-our-work-offline ul li.active:after {
    content: "";
    background-image: url("../images/our-work/line-vertical.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: -162px;
    left: 130px;
    width: 1px;
    height: 177px;
}
.page-our-work-online ul li.active:before {
    content: "";
    background-image: url("../images/our-work/line-vertical.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -130px;
    left: 124px;
    width: 1px;
    height: 105px;
}
.page-our-work-online ul li.active:after {
    content: "";
    background-image: url("../images/our-work/line-vertical.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: -162px;
    left: 124px;
    width: 1px;
    height: 132px;
}
.page-our-work-in-real-life ul li.active:before {
    content: "";
    background-image: url("../images/our-work/line-in-real-life.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: -140px;
    right: 120px;
    width: 322px;
    height: 140px;
}
.page-our-work-in-real-life ul li.active:after {
    content: "";
    background-image: url("../images/our-work/line-vertical.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: -162px;
    right: 120px;
    width: 1px;
    height: 177px;
}

/* loop */
.wp-block-group.our-work-loop {
    background-color: #fbfbfb;
}

/* case studies */
.case-studies {
    color: #2f354d;
    background-color: white;
}
.case-studies {
    color: #2f354d;
    background-color: white;
}
.case-studies h2,
.case-studies h2 a {
    font-family: "Optima", sans-serif;
    font-size: 25px;
    margin: 0 0 18px;
    color: #2e354f;
    line-height: 30px;
    text-decoration: none;
}
.case-studies p {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 18px;
    min-height: 40px;
    color: #2e354f;
    max-width: 370px;
}
.case-studies .curved-img-border-right {
    border: 1px solid #cf9303;
    border-top-right-radius: 108px;
    padding: 0px; /*border-left: 0;border-bottom: 0;*/
}
.case-studies .curved-img-border-right .wp-block-group__inner-container {
    padding: 0px;
}
.case-studies .curved-img-border-left {
    border: 1px solid #cf9303;
    border-top-left-radius: 108px;
    padding: 0px; /*border-right: 0;border-bottom: 0;*/
}
.case-studies .curved-img-border-left .wp-block-group__inner-container {
    padding: 0px;
}
.case-studies .wp-block-image {
    margin: 0px;
}
.case-studies .wp-block-image a {
    display: block;
    width: 100%;
    height: 100%;
}
.case-studies .curved-img-border-right img {
    border-top-right-radius: 108px;
    filter: grayscale(1);
    min-height: 273px;
    object-fit: cover;
}
.case-studies .curved-img-border-left img {
    border-top-left-radius: 108px;
    filter: grayscale(1);
    min-height: 273px;
    max-height: 273px;
    object-fit: cover;
}
.case-studies img:hover {
    filter: grayscale(0);
    transition: 0.2s;
}
.case-studies .wp-block-button a {
    background-color: transparent;
    border: 1px solid #0b6473;
    color: #0b6473;
    padding: 10px 30px;
    width: auto;
    font-size: 20px;
    font-family: "Optima", sans-serif;
    z-index: 0;
    margin-bottom: 0;
}

/* GOLD LINES */
.case-studies .wp-block-group__inner-container:first-child {
    padding: 0px;
    max-width: none;
}
.case-studies .column-lines-container-1 .wp-block-group__inner-container {
    padding: 0px;
}
.case-studies .column-lines-container-2 .wp-block-group__inner-container {
    padding: 0px;
}
.case-studies .column-lines-container-1 .wp-block-columns {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 86px;
}
.case-studies .column-lines-container-2 .wp-block-columns {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 133px;
}
.case-studies .column-lines-container-1 {
    background-image: url("../images/gold-lines-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1405px;
    height: 360px;
}
.case-studies .column-lines-container-2 {
    background-image: url("../images/gold-lines-2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1502px;
    height: 410px;
}
.wp-block-column.copy {
    padding-top: 30px;
    margin-left: var(--wp--style--block-gap, 2em);
}
.case-studies .column-lines-container-2 .wp-block-column.copy {
    margin-left: 0;
}
.case-studies .column-lines-container-2 h2,
.case-studies .column-lines-container-2 p {
    max-width: 390px;
}
.case-studies .wp-block-group:first-child .curved-img-border-right {
    border: 0;
}
.case-studies .column-lines-container-2 .curved-img-border-right {
    border-top-left-radius: 108px;
    border-top-right-radius: 0px;
    padding: 0px;
}
.case-studies .column-lines-container-2 img {
    border-top-left-radius: 108px;
    border-top-right-radius: 0;
}

.page-our-work-offline .column-lines-container-2 .wp-block-columns,
.page-our-work-online .column-lines-container-2 .wp-block-columns,
.page-our-work-in-real-life .column-lines-container-2 .wp-block-columns {
    flex-direction: row-reverse;
}

@media screen and (min-width: 701px) and (max-width: 1024px) {
    .case-studies .column-lines-container-2 .wp-block-columns {
        padding-top: 126px;
    }
    .wp-block-column.copy {
        padding-top: 10px;
    }
    .wrapper-copy {
        max-width: 240px;
        margin-left: 15px;
    }
    .case-studies .wp-block-button a {
        padding: 10px 10px;
    }
    .case-studies .curved-img-border-left img {
        min-height: 280px;
    }
}
@media screen and (min-width: 890px) and (max-width: 1024px) {
    .wrapper-copy {
        margin-left: 30px;
        max-width: 320px;
    }
}

@media only screen and (max-width: 600px) {
    .case-studies.mobile {
        width: 88%;
        margin: 0 auto;
    }
    .page-offline .case-studies h2,
    .page-offline .case-studies h2 a {
        font-size: 18px;
        margin-top: -20px;
        text-align: center;
    }
    .case-studies h2,
    .case-studies h2 a {
        font-size: 18px;
        text-align: center;
    }
    .case-studies.mobile .wp-block-columns {
        margin-bottom: 50px;
    }
    .case-studies.mobile .wp-block-columns:first-child {
        margin-top: 55px;
    }
    .case-studies .curved-img-border-right img,
    .case-studies .curved-img-border-left img {
        min-height: 215px;
    }
    .case-studies .curved-img-border-left:after,
    .case-studies .curved-img-border-right:after {
        content: "";
        background-image: url("../images/case-study-mobile1.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 88%;
        height: 28vw;
        background-size: 100%;
        position: absolute;
    }
    .case-studies .curved-img-border-right:after {
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
        -ms-filter: "FlipV";
    }
    .case-studies.mobile
        .wp-block-columns:first-child
        .curved-img-border-right:before {
        content: "";
        background-image: url("../images/case-study-mobile1.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 88%;
        height: 28vw;
        background-size: 100%;
        position: absolute;
        margin-top: -58px;
    }

    .page-our-work main {
        background-color: #2f354d;
        color: white;
    }

    .page-our-work-offline .case-studies .column-lines-container-1,
    .page-our-work-offline .case-studies .column-lines-container-2,
    .page-our-work-online .case-studies .column-lines-container-1,
    .page-our-work-online .case-studies .column-lines-container-2,
    .page-our-work-in-real-life .case-studies .column-lines-container-1,
    .page-our-work-in-real-life .case-studies .column-lines-container-2 {
        background-image: none;
    }
    .page-our-work-offline .case-studies .wp-block-group__inner-container,
    .page-our-work-online .case-studies .wp-block-group__inner-container,
    .page-our-work-in-real-life .case-studies .wp-block-group__inner-container {
        width: 88%;
        margin: 0 auto;
    }
    .page-our-work-offline .wp-block-column .wp-block-group__inner-container,
    .page-our-work-online .wp-block-column .wp-block-group__inner-container,
    .page-our-work-in-real-life
        .wp-block-column
        .wp-block-group__inner-container {
        width: 100%;
    }
    .page-our-work-offline .wp-block-column.copy,
    .page-our-work-online .wp-block-column.copy,
    .page-our-work-in-real-life .wp-block-column.copy {
        padding-top: 0;
    }
    .page-our-work-offline .wp-block-columns,
    .page-our-work-online .wp-block-columns,
    .page-our-work-in-real-life .wp-block-columns {
        margin-bottom: 40px;
    }
    .page-our-work-offline .wp-block-columns:last-child .wrapper-copy h2,
    .page-our-work-online .wp-block-columns:last-child .wrapper-copy h2,
    .page-our-work-in-real-life .wp-block-columns:last-child .wrapper-copy h2,
    .page-our-work-offline .wp-block-columns:last-child,
    .page-our-work-online .wp-block-columns:last-child,
    .page-our-work-in-real-life .wp-block-columns:last-child {
        margin-bottom: 0px;
    }
    .page-our-work-offline .wp-block-columns:last-child,
    .page-our-work-online .wp-block-columns:last-child,
    .page-our-work-in-real-life .wp-block-columns:last-child {
        padding-bottom: 63px;
    }
    .page-our-work-offline .intro-title,
    .page-our-work-online .intro-title,
    .page-our-work-in-real-life .intro-title {
        padding-top: 150px;
        margin-bottom: -25px;
    }
    .page-our-work-offline .colour-logo,
    .page-our-work-online .colour-logo,
    .page-our-work-in-real-life .colour-logo {
        display: block;
    }
    .page-our-work-offline .white-logo,
    .page-our-work-online .white-logo,
    .page-our-work-in-real-life .white-logo {
        display: none;
    }
}
