.desktop-sub-menu,
.mobile-sub-menu {
    position: relative;
    background: #f6eee2;
}
.desktop-sub-menu svg,
.mobile-sub-menu svg {
    width: 100% !important;
    height: 100% !important;
}
.desktop-sub-menu .sub-menu-title,
.mobile-sub-menu .sub-menu-title,
.page-about-us #site-content .desktop-sub-menu .sub-menu-title,
.page-about-us #site-content .mobile-sub-menu .sub-menu-title {
    position: absolute;
    top: 22%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    font-size: 42px !important;
    line-height: 33px !important;
    text-align: center !important;
    margin: 0;
    color: #2e354f !important;
}
.mobile-sub-menu .sub-menu-title,
.page-about-us #site-content .mobile-sub-menu .sub-menu-title {
    top: 18%;
}
@media screen and (min-width: 701px) and (max-width: 1025px) {
    .desktop-sub-menu .sub-menu-title,
    .page-about-us #site-content .sub-menu-title {
        font-size: 36px !important;
    }
}
@media screen and (max-width: 700px) {
    .mobile-sub-menu .sub-menu-title,
    .page-about-us #site-content .mobile-sub-menu .sub-menu-title {
        font-size: 32px !important;
        line-height: 24px !important;
        max-width: 280px !important;
        text-align: center !important;
    }
    .mobile-sub-menu .svg-wrapper {
        position: relative;
    }
}
.mobile-sub-menu .slick-dots li::marker {
    font-size: 41px;
    color: #cecece81;
}
.mobile-sub-menu .slick-dots li.slick-active::marker {
    color: grey;
}
.mobile-sub-menu ul.slick-dots {
    padding-left: 92px;
}
.single-our-work .white-logo {
    display: none;
}
.single-our-work .colour-logo {
    display: block;
}
.our-work-template {
    overflow-x: hidden;
}
.single-our-work main {
    background-color: white;
    padding-bottom: 0;
}
.single-our-work h1 {
    text-align: center;
    margin-top: 110px;
}
.single-our-work h2 {
    font-size: 45px !important;
    line-height: 33px;
}
.single-our-work img.attachment-full {
    margin: 20px auto;
    display: block;
    width: 100%;
}

/*Make video responsive*/
.wp-block-embed__wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.wp-block-embed__wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Case Study Slider*/
.wp-block-gallery.has-nested-images.casestudy-slider {
    justify-content: center;
}
.casestudy-slider .slick-dots li {
    font-size: 25px;
    width: 15px;
}
.casestudy-slider .slick-dots li::marker {
    color: #0b647340;
}
.casestudy-slider .slick-dots li.slick-active::marker {
    color: #0b6473;
}

/*Offline 3 section*/
.our-work-template-template-work-3 .content-section {
    background-image: url("../images/bkgd-3.svg");
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 50px;
    background-size: 100%;
}
.our-work-template-template-work-3 .wp-block-columns:nth-of-type(1) {
    height: 150px;
}
.our-work-template-template-work-3 .wp-block-columns:nth-of-type(2) {
    height: 450px;
}
.our-work-template-template-work-3
    .wp-block-columns:nth-of-type(2)
    .wp-block-column:first-of-type {
    padding-left: 60px;
}
.our-work-template-template-work-3 .wp-block-columns:nth-of-type(3) {
    height: 400px;
}

/*Offline 4 section*/
.our-work-template-template-work-4 .content-section {
    background-image: url("../images/bkgd-4.svg");
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 50px;
    background-size: 100%;
}
.our-work-template-template-work-4 .wp-block-columns:nth-of-type(1) {
    height: 200px;
}
.our-work-template-template-work-4 .wp-block-columns:nth-of-type(2) {
    height: 400px;
}
.our-work-template-template-work-4
    .wp-block-columns:nth-of-type(2)
    .wp-block-column:first-of-type {
    padding-left: 60px;
}
.our-work-template-template-work-4 .wp-block-columns:nth-of-type(3) {
    height: 240px;
}
.our-work-template-template-work-4 .wp-block-columns:nth-of-type(4) {
    height: 150px;
}
.our-work-template-template-work-4
    .wp-block-columns:nth-of-type(4)
    .wp-block-column:first-of-type {
    padding-left: 60px;
}

/*Offline 5 section*/
.our-work-template-template-work-5 .content-section {
    background-image: url("../images/bkgd-5.svg");
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 50px;
    background-size: 100%;
}
.our-work-template-template-work-5 .wp-block-columns:nth-of-type(1) {
    height: 200px;
}
.our-work-template-template-work-5 .wp-block-columns:nth-of-type(2) {
    height: 190px;
}
.our-work-template-template-work-5
    .wp-block-columns:nth-of-type(2)
    .wp-block-column:first-of-type {
    padding-left: 60px;
}
.our-work-template-template-work-5 .wp-block-columns:nth-of-type(3) {
    height: 225px;
}
.our-work-template-template-work-5 .wp-block-columns:nth-of-type(3) h2 {
    padding-left: 60px;
}
.our-work-template-template-work-5 .wp-block-columns:nth-of-type(4) {
    height: 160px;
}
.our-work-template-template-work-5
    .wp-block-columns:nth-of-type(4)
    .wp-block-column:first-of-type {
    padding-left: 60px;
}
.our-work-template-template-work-5 .wp-block-columns:nth-of-type(5) {
    height: 215px;
}
.our-work-template-template-work-5 .wp-block-columns:nth-child(even) p {
    padding-left: 35px;
}
.our-work-template-template-work-5 .wp-block-columns:nth-child(odd) p {
    padding-right: 60px;
}

/*Real Life 5 section*/
.our-work-template-template-work-rl-3 .content-section {
    background-image: url("../images/rl-3sect.svg");
    background-repeat: no-repeat;
    background-position: center 605px;
    margin-top: 50px;
    background-size: 100%;
}
.our-work-template-template-work-rl-3 .wp-block-columns:nth-of-type(1) {
    height: 150px;
    margin-top: 15px;
}
.our-work-template-template-work-rl-3 .wp-block-columns:nth-of-type(2) {
    height: 365px;
}
.our-work-template-template-work-rl-3
    .wp-block-columns:nth-of-type(2)
    .wp-block-column:first-of-type {
    padding-left: 60px;
}
.our-work-template-template-work-rl-3 .wp-block-columns:nth-of-type(3) {
    margin-top: 50px;
}
.our-work-template-template-work-rl-3 .wp-block-columns:nth-of-type(3) h2 {
    margin-top: -45px;
}

.our-work-template-template-work-rl-3 .wp-block-columns:nth-child(odd) p {
    padding-left: 35px;
}
.our-work-template-template-work-rl-3 .wp-block-columns:nth-child(even) p {
    padding-right: 60px;
}

/*Olympics ten years on*/

.our-work-template-template-work-rl-4 .wrapper {
    max-width: 1250px;
}

.our-work-template-template-work-rl-4 .first-section {
    background-image: url("../images/our-work/large-bg-line.svg");
    background-repeat: no-repeat;
    background-size: 1122px 1080px;
    background-position-y: 75px;
    background-position-x: center;
}

.our-work-template-template-work-rl-4 .second-section {
    background-image: url("../images/our-work/small-bg-line.svg");
    background-repeat: no-repeat;
    background-size: 1140px;
    background-position-y: 660px;
    background-position-x: center;
}

.our-work-template-template-work-rl-4
    .first-section
    .wp-block-group__inner-container {
    padding-bottom: 0px;
}

.our-work-template-template-work-rl-4
    .second-section
    .wp-block-group__inner-container {
    padding-top: 0px;
}

.our-work-template-template-work-rl-4 .brief {
    display: inline-block;
    position: absolute;
}

.our-work-template-template-work-rl-4 .caption {
    color: #707070;
}

.our-work-template-template-work-rl-4 .no-margin-column {
    margin-bottom: 0;
}

.our-work-template-template-work-rl-4 .video-wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.our-work-template-template-work-rl-4
    .video-wrapper
    .wp-block-group__inner-container {
    padding: 0px;
}

.our-work-template-template-work-rl-4 .quotation {
    font-size: 30px !important;
    line-height: 40px;
}

.our-work-template-template-work-rl-4 .quotation-person {
    font-size: 20px !important;
}

@media only screen and (max-width: 1200px) {
    .our-work-template-template-work-rl-4 .first-section {
        background-image: none;
    }
    .our-work-template-template-work-rl-4 .second-section {
        background-image: none;
    }
}

@media only screen and (max-width: 600px) {
    .our-work-template-template-work-rl-4 .wp-block-columns {
        padding: 0px !important;
    }
}

/* Related case studies */
.post-related {
    background-color: #f5f5f5;
    overflow-x: hidden;
    margin-top: 15px;
}
.post-related .wrapper {
    max-width: 850px;
    padding-top: 85px;
    padding-bottom: 85px;
}
.post-related .slick-slide {
    margin: 0 17px;
}
.post-related .slick-list {
    margin: 0 -17px;
}
.portfolio-post-title h3 a,
.portfolio-post-title h3 {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 1.2;
    text-decoration: none;
    color: #2e354f;
}

/* border radius fix */
.latest-portfolio-box.slick-slide .portfolio-post-img a {
    display: block;
    width: 100%;
    height: 100%;
    min-height: inherit !important;
    border: 2px solid #cf9303;
    filter: grayscale(0) !important;
}
.post-related .latest-portfolio-box:nth-child(1n) img,
.post-related .latest-portfolio-box:nth-child(1n) .portfolio-post-img a {
    border-top-left-radius: 108px;
    filter: grayscale(1);
    min-height: 242px;
    object-fit: cover;
}
.post-related .latest-portfolio-box:nth-child(2n) img,
.post-related .latest-portfolio-box:nth-child(2n) .portfolio-post-img a {
    border-top-right-radius: 108px;
    border-top-left-radius: 0;
    filter: grayscale(1);
    min-height: 242px;
    object-fit: cover;
}
.latest-portfolio-box.slick-slide
    + .latest-portfolio-box.slick-slide.slick-active
    img,
.latest-portfolio-box.slick-slide
    + .latest-portfolio-box.slick-slide.slick-active
    .portfolio-post-img
    a {
    border-top-left-radius: 108px;
    border-top-right-radius: 0;
}
.latest-portfolio-box.slick-slide.slick-current
    + .latest-portfolio-box.slick-slide.slick-active
    img,
.latest-portfolio-box.slick-slide.slick-current
    + .latest-portfolio-box.slick-slide.slick-active
    .portfolio-post-img
    a {
    border-top-right-radius: 108px;
    border-top-left-radius: 0;
}
.latest-portfolio-box.slick-slide.slick-active.slick-current img,
.latest-portfolio-box.slick-slide.slick-active.slick-current
    .portfolio-post-img
    a {
    border-top-right-radius: 108px;
    border-top-left-radius: 0;
}
.latest-portfolio-box.slick-slide.slick-active.slick-current:first-of-type img,
.latest-portfolio-box.slick-slide.slick-active.slick-current:first-of-type
    .portfolio-post-img
    a {
    border-top-left-radius: 108px !important;
    border-top-right-radius: 0 !important;
}
.latest-portfolio-box.slick-slide.slick-active.slick-current:last-of-type img,
.latest-portfolio-box.slick-slide.slick-active.slick-current:last-of-type
    .portfolio-post-img
    a {
    border-top-right-radius: 108px !important;
    border-top-left-radius: 0 !important;
}

.latest-portfolio-box.slick-slide .portfolio-post-img a {
    display: block;
    width: 100%;
    height: 100%;
    min-height: inherit !important;
    border: 2px solid #cf9303;
    filter: grayscale(0) !important;
}
.post-related .latest-portfolio-box:nth-child(1n) img,
.post-related .latest-portfolio-box:nth-child(1n) .portfolio-post-img a {
    border-top-left-radius: 108px;
    filter: grayscale(1);
    min-height: 242px;
    object-fit: cover;
}
.post-related .latest-portfolio-box:nth-child(2n) img,
.post-related .latest-portfolio-box:nth-child(2n) .portfolio-post-img a {
    border-top-right-radius: 108px;
    border-top-left-radius: 0;
    filter: grayscale(1);
    min-height: 242px;
    object-fit: cover;
}
.latest-portfolio-box.slick-slide
    + .latest-portfolio-box.slick-slide.slick-active
    img,
.latest-portfolio-box.slick-slide
    + .latest-portfolio-box.slick-slide.slick-active
    .portfolio-post-img
    a {
    border-top-left-radius: 108px;
    border-top-right-radius: 0;
    max-width: 100%;
    max-height: 100%;
}
.latest-portfolio-box.slick-slide.slick-current
    + .latest-portfolio-box.slick-slide.slick-active
    img,
.latest-portfolio-box.slick-slide.slick-current
    + .latest-portfolio-box.slick-slide.slick-active
    .portfolio-post-img
    a {
    border-top-right-radius: 108px;
    border-top-left-radius: 0;
}
.latest-portfolio-box.slick-slide.slick-active.slick-current img,
.latest-portfolio-box.slick-slide.slick-active.slick-current
    .portfolio-post-img
    a {
    border-top-right-radius: 108px;
    border-top-left-radius: 0;
}
.latest-portfolio-box.slick-slide.slick-active.slick-current:first-of-type img,
.latest-portfolio-box.slick-slide.slick-active.slick-current:first-of-type
    .portfolio-post-img
    a {
    border-top-left-radius: 108px !important;
    border-top-right-radius: 0 !important;
}
.latest-portfolio-box.slick-slide.slick-active.slick-current:last-of-type img,
.latest-portfolio-box.slick-slide.slick-active.slick-current:last-of-type
    .portfolio-post-img
    a {
    border-top-right-radius: 108px !important;
    border-top-left-radius: 0 !important;
}
.post-related .slick-slide img {
    max-width: 100%;
    max-height: 100%;
}
.post-related .latest-portfolio-box img:hover {
    filter: grayscale(0);
    transition: 0.2s;
}

.post-related .slick-next,
.post-related .slick-prev {
    z-index: 100;
    padding: 0;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    position: absolute;
    font-size: 0;
    line-height: 0;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    width: 80px !important;
    height: 80px !important;
}
.post-related .slick-next.slick-disabled,
.post-related .slick-prev.slick-disabled {
    opacity: 0.5;
    cursor: auto;
}
.post-related .slick-prev {
    background-image: url(../images/our-work/related-work-arrow-left.svg);
    left: -109px;
}
.post-related .slick-next {
    background-image: url(../images/our-work/related-work-arrow-right.svg);
    right: -109px;
}

@media only screen and (max-width: 1199px) {
    #blog-related-posts .slick-prev {
        left: -80px;
    }
    #blog-related-posts .slick-next {
        right: -80px;
    }
}
@media only screen and (max-width: 991px) {
    #blog-related-posts .slick-prev {
        left: -65px;
    }
    #blog-related-posts .slick-next {
        right: -65px;
    }
}
@media only screen and (max-width: 800px) {
    #blog-related-posts .slick-next,
    #blog-related-posts .slick-prev {
        width: 50px !important;
        height: 50px !important;
    }
    #blog-related-posts .slick-prev {
        left: -55px;
    }
    #blog-related-posts .slick-next {
        right: -55px;
    }
}
@media only screen and (max-width: 600px) {
    #blog-related-posts .slick-prev {
        left: -30px;
    }
    #blog-related-posts .slick-next {
        right: -30px;
    }
}

/* .our-work-template-template-work-5 .post-related .wp-block-columns {margin-bottom: 0;}
.our-work-template-template-work-5 .post-related .wp-block-columns:nth-of-type(1),
.our-work-template-template-work-rl-3 .post-related .wp-block-columns:nth-of-type(1) {height: auto;margin: 0;}
.post-related .wp-block-column {position: relative;height: auto;}
.post-related .wp-block-column .slick-prev a, .post-related .wp-block-column .slick-next a  {display: block;width: 100%; height: 100%;}
.post-related .prev-only-mobile {display: none;}
.post-related .wp-block-column:nth-child(1n) img {border-top-left-radius: 108px;filter: grayscale(1);min-height: 242px;object-fit: cover;}
.post-related .wp-block-column:nth-child(2n) img {border-top-right-radius: 108px;border-top-left-radius: 0;filter: grayscale(1);min-height: 242px;object-fit: cover;}
.post-related .wp-block-column img:hover {filter: grayscale(0);transition: 0.2s;} */

@media only screen and (max-width: 1199px) {
    .post-related .slick-prev {
        left: -80px;
    }
    .post-related .slick-next {
        right: -80px;
    }
}

@media only screen and (max-width: 991px) {
    .post-related .slick-prev {
        left: -65px;
    }
    .post-related .slick-next {
        right: -65px;
    }
}

@media only screen and (max-width: 800px) {
    .our-work-template-template-work-3 .content-section,
    .our-work-template-template-work-4 .content-section,
    .our-work-template-template-work-5 .content-section,
    .our-work-template-template-work-rl-3 .content-section {
        background-image: none;
    }

    .our-work-template-template-work-rl-3 .wp-block-columns:nth-of-type(2),
    .our-work-template-template-work-5 .wp-block-columns:nth-of-type(2),
    .our-work-template-template-work-5 .wp-block-columns:nth-of-type(4),
    .our-work-template-template-work-4 .wp-block-columns:nth-of-type(2),
    .our-work-template-template-work-4 .wp-block-columns:nth-of-type(4),
    .our-work-template-template-work-3 .wp-block-columns:nth-of-type(2) {
        flex-direction: column-reverse;
    }

    .single-our-work .wp-block-column,
    .single-our-work .wp-block-column h2 {
        padding-left: 0 !important;
    }

    .post-related .slick-next,
    .post-related .slick-prev {
        width: 50px !important;
        height: 50px !important;
    }
    .post-related .slick-prev {
        left: -55px;
    }
    .post-related .slick-next {
        right: -55px;
    }
    .portfolio-post-title h3 a,
    .portfolio-post-title h3 {
        font-size: 15px !important;
    }

    .post-related .wp-block-column img {
        min-height: 120px !important;
    }
    .post-related .latest-portfolio-box:nth-child(1n),
    .post-related .latest-portfolio-box:nth-child(2n),
    .post-related .latest-portfolio-box:nth-child(3n),
    .post-related .latest-portfolio-box:nth-child(4n),
    img {
        overflow: hidden !important;
    }
    .post-related .latest-portfolio-box:nth-child(1n),
    .post-related .latest-portfolio-box:nth-child(2n),
    .post-related .latest-portfolio-box:nth-child(3n),
    .post-related .latest-portfolio-box:nth-child(4n),
    .portfolio-post-img a {
        border-top-left-radius: 108px !important;
    }
    .our-work-template-template-work-rl-3 .wp-block-columns:nth-of-type(1) {
        display: block;
        margin-bottom: 0;
    }
    .our-work-template-template-work-rl-3 .wp-block-columns:nth-of-type(2) {
        height: 270px;
    }
    .our-work-template-template-work-rl-3 .wp-block-columns:nth-child(odd) p {
        margin-top: -33px;
    }
    .our-work-template-template-work-rl-3 .wp-block-columns:nth-of-type(3) {
        margin-top: 127px;
        display: block;
    }
    .our-work-template-template-work-rl-3 .wp-block-columns:nth-child(even) p {
        text-align: center;
    }
    .our-work-template-template-work-rl-3 .wp-block-columns:nth-of-type(3) h2 {
        margin-bottom: 41px;
    }
}

@media only screen and (max-width: 600px) {
    .single-our-work h1 {
        font-size: 40px;
    }
    .single-our-work .wrapper {
        padding: 20px 0px;
    }
    .post-related .wrapper {
        padding: 40px 60px 30px;
    }
    .single-our-work .content-section .wp-block-columns {
        height: auto !important;
        padding: 0 20px;
    }
    /*.content-section .wp-block-columns:nth-of-type(1),
	.content-section .wp-block-columns:nth-of-type(3) {padding-left: 60px;}
	.content-section .wp-block-columns:nth-of-type(2),
	.content-section .wp-block-columns:nth-of-type(4) {padding-right: 50px;padding-left: 20px;}
	.content-section .wp-block-columns:last-of-type{margin-bottom: 50px;}*/

    .single-our-work .content-section .wp-block-spacer {
        display: none;
    }
    /*.our-work-template-template-work-4 .content-section{background-image: url("../images/bkgd-4-m.svg");background-size: 100%}*/
    .single-our-work p {
        font-size: 14px;
        line-height: 18px;
    }
    .single-our-work h2 {
        font-size: 35px;
        text-align: left;
        margin-bottom: 0;
    }
    .our-work-template-template-work-rl-3 .wp-block-columns:nth-of-type(3) h2 {
        margin-top: 0;
    }

    .post-related .latest-portfolio-box img {
        min-height: 120px !important;
        height: 120px;
        max-width: 100%;
        margin: 0 auto;
    }
    .post-related .portfolio-post-inner {
        max-width: 215px;
        margin: 0 auto;
    }
    .post-related .slick-prev {
        left: -65px;
    }
    .post-related .slick-next {
        right: -65px;
    }
    .post-related .latest-portfolio-box:nth-child(1n) img {
        border-top-left-radius: 70px;
    }
    .post-related .latest-portfolio-box:nth-child(2n) img {
        border-top-right-radius: 70px;
        border-top-left-radius: 0px;
    }

    /*.post-related .wp-block-column:first-child {display: none;}*/
    .post-related .prev-only-mobile {
        display: block;
    }
    .post-related .wp-block-column {
        max-width: 215px;
        margin: 0 auto;
    }
    .post-related .wp-block-column:nth-child(2n) img {
        border-top-right-radius: 0;
        border-top-left-radius: 70px;
        filter: grayscale(1);
        object-fit: cover;
        min-height: 120px !important;
        height: 120px;
        max-width: 100%;
        margin: 0 auto;
    }

    .post-related .latest-portfolio-box:nth-child(1n) img,
    .post-related .latest-portfolio-box:nth-child(1n) .portfolio-post-img a {
        border-top-left-radius: 60px;
    }
    .post-related .latest-portfolio-box:nth-child(2n) img,
    .post-related .latest-portfolio-box:nth-child(2n) .portfolio-post-img a {
        border-top-right-radius: 60px;
    }
    .latest-portfolio-box.slick-slide
        + .latest-portfolio-box.slick-slide.slick-active
        img,
    .latest-portfolio-box.slick-slide
        + .latest-portfolio-box.slick-slide.slick-active
        .portfolio-post-img
        a {
        border-top-left-radius: 60px;
    }
    .latest-portfolio-box.slick-slide.slick-current
        + .latest-portfolio-box.slick-slide.slick-active
        img,
    .latest-portfolio-box.slick-slide.slick-current
        + .latest-portfolio-box.slick-slide.slick-active
        .portfolio-post-img
        a {
        border-top-right-radius: 60px;
    }
    .latest-portfolio-box.slick-slide.slick-active.slick-current img,
    .latest-portfolio-box.slick-slide.slick-active.slick-current
        .portfolio-post-img
        a {
        border-top-right-radius: 60px;
    }
    .latest-portfolio-box.slick-slide.slick-active.slick-current:first-of-type
        img,
    .latest-portfolio-box.slick-slide.slick-active.slick-current:first-of-type
        .portfolio-post-img
        a {
        border-top-left-radius: 60px !important;
    }
    .latest-portfolio-box.slick-slide.slick-active.slick-current:last-of-type
        img,
    .latest-portfolio-box.slick-slide.slick-active.slick-current:last-of-type
        .portfolio-post-img
        a {
        border-top-right-radius: 60px !important;
    }

    .single-our-work .content-section .wp-block-spacer {
        display: none;
    }
    /*.our-work-template-template-work-4 .content-section{background-image: url("../images/bkgd-4-m.svg");background-size: 100%}*/
    .single-our-work p {
        font-size: 14px;
        line-height: 18px;
    }
    .single-our-work h2 {
        font-size: 35px;
        text-align: left;
        margin-bottom: 0;
    }
    .our-work-template-template-work-rl-3 .wp-block-columns:nth-of-type(3) h2 {
        margin-top: 0;
    }

    .post-related .latest-portfolio-box img {
        min-height: 120px !important;
        height: 120px;
        max-width: 100%;
        margin: 0 auto;
    }
    .post-related .portfolio-post-inner {
        max-width: 215px;
        margin: 0 auto;
    }
    .post-related .slick-prev {
        left: -65px;
    }
    .post-related .slick-next {
        right: -65px;
    }
    .post-related .latest-portfolio-box:nth-child(1n) img {
        border-top-left-radius: 70px;
    }
    .post-related .latest-portfolio-box:nth-child(2n) img {
        border-top-right-radius: 70px;
        border-top-left-radius: 0px;
    }

    /*.post-related .wp-block-column:first-child {display: none;}*/
    .post-related .prev-only-mobile {
        display: block;
    }
    .post-related .wp-block-column {
        max-width: 215px;
        margin: 0 auto;
    }
    .post-related .wp-block-column:nth-child(2n) img {
        border-top-right-radius: 0;
        border-top-left-radius: 70px;
        filter: grayscale(1);
        object-fit: cover;
        min-height: 120px !important;
        height: 120px;
        max-width: 100%;
        margin: 0 auto;
    }

    .post-related .latest-portfolio-box:nth-child(1n) img,
    .post-related .latest-portfolio-box:nth-child(1n) .portfolio-post-img a {
        border-top-left-radius: 60px;
    }
    .post-related .latest-portfolio-box:nth-child(2n) img,
    .post-related .latest-portfolio-box:nth-child(2n) .portfolio-post-img a {
        border-top-right-radius: 60px;
    }
    .latest-portfolio-box.slick-slide
        + .latest-portfolio-box.slick-slide.slick-active
        img,
    .latest-portfolio-box.slick-slide
        + .latest-portfolio-box.slick-slide.slick-active
        .portfolio-post-img
        a {
        border-top-left-radius: 60px;
    }
    .latest-portfolio-box.slick-slide.slick-current
        + .latest-portfolio-box.slick-slide.slick-active
        img,
    .latest-portfolio-box.slick-slide.slick-current
        + .latest-portfolio-box.slick-slide.slick-active
        .portfolio-post-img
        a {
        border-top-right-radius: 60px;
    }
    .latest-portfolio-box.slick-slide.slick-active.slick-current img,
    .latest-portfolio-box.slick-slide.slick-active.slick-current
        .portfolio-post-img
        a {
        border-top-right-radius: 60px;
    }
    .latest-portfolio-box.slick-slide.slick-active.slick-current:first-of-type
        img,
    .latest-portfolio-box.slick-slide.slick-active.slick-current:first-of-type
        .portfolio-post-img
        a {
        border-top-left-radius: 60px !important;
    }
    .latest-portfolio-box.slick-slide.slick-active.slick-current:last-of-type
        img,
    .latest-portfolio-box.slick-slide.slick-active.slick-current:last-of-type
        .portfolio-post-img
        a {
        border-top-right-radius: 60px !important;
    }
}
