.page-our-team main {
    background-color: #2f354d;
    color: white;
    padding-top: 110px;
}
.page-our-team .wrapper,
.page-about-us .wrapper {
    max-width: 900px;
    margin: 0 auto;
}
.page-our-team .wp-block-button__link {
    font-size: 28px;
    background: transparent;
    border: 1px solid white;
    padding: 15px 85px;
    margin-top: 40px;
}
.page-our-team main svg,
.page-about-us main svg {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .page-our-team main {
        padding-top: 40px;
    }
    .page-our-team .wrapper,
    .page-about-us .wrapper {
        padding: 35px 20px;
    }
    .page-our-team p,
    .page-about-us p {
        font-size: 15px;
    }
    .page-our-team h1,
    .page-about-us h1 {
        font-size: 40px;
    }
    .page-our-team .c-accordion__title:after,
    .page-about-us .c-accordion__title:after {
        color: white;
        font-size: 40px;
    }
}
