.single-post .white-logo {
    display: none;
}

.single-post .colour-logo {
    display: inline;
}

.post-content {
    z-index: 1;
    position: relative;
    background-color: white;
}

.post-content .wp-block-group__inner-container {
    padding-top: 173px;
    max-width: 802px;
    margin: 0 auto;
    z-index: 0;
}

.post-content .wp-block-image img {
    max-height: 521px;
    object-fit: contain;
}

.post-content h6 {
    font-size: 18px;
    line-height: 20px;
    color: #2f354d;
    margin-top: 15px;
    font-family: "Branch-Regular", serif;
}

.post-content p {
    line-height: 20px;
}

.share-page--content {
    margin-top: 73px;
    margin-bottom: 106px;
}

.share-page--content h3 {
    font-size: 18px !important;
    line-height: 20px;
    margin-bottom: 25px;
    color: #2f354d;
}

.share-page--content .social-icon {
    width: 31px;
    height: 31px;
    margin-right: 29px;
}

.related-articles-ctn {
    background-color: #f5f5f5;
    z-index: 1;
    position: relative;
}

.related-articles-ctn .wp-block-group__inner-container {
    padding-top: 57px;
    padding-bottom: 57px;
}

.related-articles {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.latest-article-box {
    width: 50%;
    max-width: 292px;
}

.latest-article-box .portfolio-post-img {
    width: 292px;
    height: 292px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.latest-article-box h3 {
    text-align: center;
    font-size: 20px;
    line-height: 50px;
}

@media only screen and (max-width: 800px) {
    .related-articles {
        flex-direction: column;
    }
    .latest-article-box {
        max-width: 100%;
        width: 100%;
        margin-bottom: 40px;
    }
    .latest-article-box .portfolio-post-img {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 600px) {
    .post-content .wp-block-group__inner-container {
        padding-top: 109px;
        padding-left: 31px;
        padding-right: 31px;
    }
    .post-content h6 {
        margin-bottom: 20px;
    }
    .post-content h1 {
        font-size: 30px;
        line-height: 30px;
    }
    .related-articles-ctn .wp-block-group__inner-container {
        padding: 42px 31px;
        background: #f5f5f5;
    }
    .latest-article-box .portfolio-post-img {
        width: 205px;
        height: 205px;
        max-width: 100%;
        background-size: contain;
    }
    .share-page--content {
        margin-top: 45px;
        margin-bottom: 54px;
    }
    .share-page--content h3 {
        font-size: 14px !important;
    }
}
