.page-pricing .white-logo{display: none;}
.page-pricing .colour-logo{display: inline;}
.page-pricing h1{margin-top: 80px;}
.page-pricing h2{margin-bottom: 30px;color: #006675}
.page-pricing h3{font-family: 'Branch-Regular', serif;font-size: 30px !important;font-weight: 500;color: #006675;}
.page-pricing p{color: #006675;line-height: 18px;}
.page-pricing ul{padding-left: 20px;}
.page-pricing ul li{color: #006675;}

.pricing-ltgn-background h2,
.pricing-dkgn-background h2,
.pricing-gn-background h2{color: white;}

.pricing-cream-background {background-color:#F6EEE2;}
.pricing-ltgn-background {background-color:#5F9997;}
.pricing-dkgn-background {background-color:#007A79;}
.pricing-gn-background {background-color:#006675;}

.page-pricing main .wp-block-column {padding: 20px;background-color: white;}
.page-pricing main .wp-block-column .wp-block-group{border: 1px solid #CF9303;height: 100%}
.page-pricing main .wp-block-column .wp-block-group__inner-container{padding: 0px 20px;position: relative;height: 92%;}
.page-pricing main .wp-block-column .wp-block-image {position: absolute;bottom: 0;width: 85%;}

.page-pricing p.whitetext{color: white;display: block;max-width: 300px;position: absolute;}

.page-pricing main .pricing-dkgn-background .wp-block-column,
.page-pricing main .pricing-gn-background .wp-block-column {padding: 0;background-color: unset;}

.page-pricing main .pricing-dkgn-background .wp-block-column .wp-block-group,
.page-pricing main .pricing-gn-background .wp-block-column .wp-block-group{height: auto;background-color: white;padding: 20px;border: none;}

.page-pricing main .pricing-dkgn-background .wp-block-column .wp-block-group__inner-container,
.page-pricing main .pricing-gn-background .wp-block-column .wp-block-group__inner-container{position: static;height: auto;border: 1px solid #CF9303}

.page-pricing main .pricing-dkgn-background .wp-block-column .wp-block-image,
.page-pricing main .pricing-gn-background .wp-block-column .wp-block-image {position: static;width: auto;}

.ready-to-get-started{background-color: #2F354D;}
.ready-to-get-started h3{color:#2E354F}
.ready-to-get-started .wp-block-group__inner-container{background-image: url("../images/read-to-get-started.svg");background-position: center;background-size: cover;background-repeat: no-repeat;padding: 70px 0;}

.page-pricing main .pricing-dkgn-background a{text-decoration: none;}

@media screen and (min-width: 890px) and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
.page-pricing h2{font-size: 40px !important;}
.page-pricing main .wp-block-group__inner-container{padding: 20px;}
.page-pricing main .wp-block-column {background-color: white;padding: 20px}
.page-pricing main .wp-block-column .wp-block-group {position: static;height: auto;border: 1px solid #CF9303;height: 100%;}
.page-pricing main .wp-block-column .wp-block-group__inner-container {height: 100%;}
.page-pricing main .wp-block-column .wp-block-image {position: static;width: auto;}
.page-pricing main .wp-block-spacer{height: 0 !important;}

.page-pricing main .pricing-cream-background .wp-block-column .wp-block-group__inner-container{min-height: 370px;}
.page-pricing main .pricing-ltgn-background .wp-block-column .wp-block-group__inner-container{min-height: 740px;}
.page-pricing main .pricing-dkgn-background .wp-block-column .wp-block-group__inner-container{min-height: 350px;}
.page-pricing main .pricing-gn-background .wp-block-column .wp-block-group__inner-container{min-height: 525px;}

.page-pricing main ul.slick-dots {padding-left: 50px;}
.page-pricing main ul.slick-dots li::marker{font-size: 30px;}
.page-pricing p.whitetext{position: static;max-width: 100%;}

.page-pricing main .ready-to-get-started .wp-block-group__inner-container{background-image: url("../images/ready-to-get-mobile.svg");padding: 60vw 0;}


}







