.seo-events-page-header {
  background: #2f354d;
}
.seo-events-page-header,
.seo-header-white-text h2 p {
  color: white;
}
.seo-events-page-header
  .wp-block-group__inner-container
  h2.seo-header-white-text {
  font-family: "Branch-Regular", serif;
  font-weight: 400;
  font-size: 72px !important;
  line-height: 60px;
  max-width: 500px;
  margin: 0 auto;
  left: 340px;
  top: 150px;
}
.seo-events-page-header
  .wp-block-group__inner-container
  p.seo-header-white-text {
  font-family: "Optima", sans-serif;
  font-weight: 400;
  font-size: 20px !important;
  line-height: 30px;
  position: absolute;
  top: 80%;
  max-width: 700px;
}
.seo-events-page-header .wp-block-group__inner-container {
  background-image: url("https://uat.drewandrose.com/main-website/wp-content/uploads/2022/05/seo-events-agency-page-header.svg");
  height: 862px;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  background-size: contain;
}
.seo-events-content {
  background: #fbfbfb;
}
.seo-events-content h2 {
  font-weight: 400;
  line-height: 40px;
  width: 100%;
  max-width: 398px;
}
.seo-events-content .wp-block-group__inner-container .wp-block-columns {
  width: 100%;
  max-width: 849px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.seo-events-content .seo-green-quote .wp-block-group__inner-container {
  padding: 0;
}
.seo-events-content .seo-green-quote .wp-block-group__inner-container p {
  color: #006675;
}
.seo-events-content p.seo-small-link a {
  font-size: 12px;
  color: #2f354d;
  line-height: 20px;
}

@media screen and (max-width: 1200px) {
  .seo-events-page-header
    .wp-block-group__inner-container
    h2.seo-header-white-text {
    font-size: 62px !important;
    line-height: 51px;
    max-width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .seo-events-page-header
    .wp-block-group__inner-container
    h2.seo-header-white-text {
    left: 0;
    top: 150px;
    max-width: 535px;
  }
}

@media screen and (max-width: 600px) {
  .seo-events-page-header .wp-block-group__inner-container {
    background-position: -40px 342px;
    background-size: cover;
  }
  .seo-events-page-header
    .wp-block-group__inner-container
    h2.seo-header-white-text {
    font-size: 50px !important;
    line-height: 38px;
  }
  .seo-events-page-header {
    height: 1230px;
  }
  .seo-events-page-header
    .wp-block-group__inner-container
    p.seo-header-white-text {
    top: 94%;
    padding: 20px;
    left: 20px;
  }
  .seo-events-content .wp-block-group__inner-container {
    padding: 30px;
  }
  .seo-events-content .wp-block-columns {
    padding-bottom: 0px !important;
  }
  .seo-events-content h2 {
    line-height: 30px;
    font-weight: bold;
  }
}
