.seo-content-page-header {
  background: #2f354d;
  background-image: url("https://uat.drewandrose.com/main-website/wp-content/uploads/2022/06/Group-4132.svg");
  height: 1342px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.seo-content-page-header .seo-header-white-text,
h2 p {
  color: white;
}
.seo-content-page-header .wp-block-group__inner-container {
  position: relative;
  height: 100%;
  margin: 0 auto;
}
.seo-content-page-header .wp-block-group__inner-container h2 {
  font-family: "Branch-Regular", serif;
  font-weight: 400;
  font-size: 72px !important;
  line-height: 60px;
  max-width: 587px;
  margin: 0 auto;
  right: 16%;
  position: absolute;
  top: 39%;
}
.seo-content-page-header .wp-block-group__inner-container p {
  position: absolute;
  top: 76%;
  margin: 0 auto;
  font-family: "Optima", sans-serif;
  font-size: 20px !important;
  line-height: 30px !important;
  max-width: 633px;
  left: 47%;
}
.seo-content-content {
  background: #fbfbfb;
}
.seo-content-content .wp-block-group__inner-container {
  padding: 30px;
}
.seo-content-content .wp-block-group__inner-container .wp-block-column h2 {
  font-weight: 400;
  line-height: 40px;
}
.seo-content-content .wp-block-group__inner-container .wp-block-columns {
  width: 100%;
  max-width: 849px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.seo-content-content .seo-green-quote .wp-block-group__inner-container {
  padding: 0;
}
.seo-content-content .seo-green-quote .wp-block-group__inner-container p {
  color: #006675;
}

@media only screen and (max-width: 800px) {
  .seo-content-page-header .wp-block-group__inner-container {
    height: 965px;
  }
  .seo-content-page-header .wp-block-group__inner-container h2 {
    font-size: 40px !important;
    line-height: 40px;
    left: 4vw;
    top: 23vh;
    width: 100%;
    max-width: 284px;
  }
  .seo-content-page-header {
    height: 747px;
    background: #2f354d;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url("https://uat.drewandrose.com/main-website/wp-content/uploads/2022/06/Group-4144.svg");
  }
}

@media only screen and (max-width: 600px) {
  .seo-content-page-header .wp-block-group__inner-container p {
    top: 65%;
    left: 0;
    padding: 0 30px;
  }
  .seo-content-page-header .wp-block-group__inner-container {
    padding: 30px;
  }
  .seo-content-content .wp-block-group__inner-container {
    padding: 30px;
  }
  .seo-content-content .wp-block-columns {
    padding-bottom: 0px !important;
  }
  .seo-content-content h2 {
    line-height: 30px !important;
    font-weight: bold !important;
  }
  .seo-content-page-header .wp-block-group__inner-container p {
    display: none;
  }
}
