.seo-digital-page-header {
  background: #2f354d;
  background-image: url("https://uat.drewandrose.com/main-website/wp-content/uploads/2022/05/seo-digital-agency-page-header.svg");
  height: 1265px;
  background-repeat: no-repeat;
  background-position: center 160px;
  background-size: cover;
}
.seo-digital-page-header .wp-block-group__inner-container {
  position: relative;
  height: 100%;
  max-width: 520px;
  margin: 0 auto;
}
.seo-digital-page-header,
h2 p {
  color: white;
}
.seo-digital-page-header h2 {
  font-family: "Branch-Regular", serif;
  font-weight: 400;
  font-size: 78px !important;
  line-height: 58px;
  position: absolute;
  top: 20%;
}
.seo-digital-page-header p {
  font-family: "Optima", sans-serif;
  font-weight: 400;
  font-size: 20px !important;
  line-height: 30px;
  position: absolute;
  top: 75%;
}
.seo-digital-content {
  background: #fbfbfb;
}
.seo-digital-content h2 {
  font-weight: 400;
  line-height: 40px;
  width: 100%;
  max-width: 398px;
}
.seo-digital-content .wp-block-group__inner-container .wp-block-columns {
  width: 100%;
  max-width: 849px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.seo-digital-content .seo-green-quote .wp-block-group__inner-container {
  padding: 0;
}
.seo-digital-content .seo-green-quote .wp-block-group__inner-container p {
  color: #006675;
}

@media screen and (max-width: 600px) {
  .seo-digital-page-header {
    background-position: center 50px;
    height: 970px;
  }
  .seo-digital-page-header p {
    top: 64%;
    left: 0;
    padding: 0px 30px;
  }
  .seo-digital-page-header h2 {
    font-size: 58px !important;
    line-height: 51px;
    top: 16%;
    left: 5%;
  }
  .seo-digital-content .wp-block-group__inner-container {
    padding: 30px;
  }
  .seo-digital-content .wp-block-columns {
    padding-bottom: 0px !important;
  }
  .seo-digital-content h2 {
    line-height: 30px;
    font-weight: bold;
  }
}
