.seo-branding-page-header {
  background: #2f354d;
}
.seo-branding-page-header .wp-block-group__inner-container {
  max-width: 1578px;
  padding-bottom: 0;
}
.seo-branding-page-header .wp-block-group__inner-container .wp-block-columns {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  justify-content: center;
  padding-top: 72px;
}
.seo-branding-page-header figure.wp-block-image.size-full.is-resized {
  margin-bottom: 0;
}
.seo-branding-page-header h2 {
  color: #ffffff;
  font-family: "Branch-Regular", serif;
  font-weight: 400;
  font-size: 72px !important;
  line-height: 60px;
  width: 100%;
  max-width: 408px;
}
.seo-branding-content {
  background: #fbfbfb;
}
.seo-branding-content h2 {
  font-weight: 400;
  line-height: 40px;
  width: 100%;
  max-width: 348px;
}
.seo-branding-content .wp-block-group__inner-container {
  padding-top: 82px;
}
.seo-branding-content .wp-block-group__inner-container .wp-block-columns {
  padding-bottom: 69px;
  width: 100%;
  max-width: 849px;
  margin: 0 auto;
}
.seo-branding-content p.seo-green-quote {
  color: #006675;
}

@media screen and (max-width: 600px) {
  .seo-branding-page-header .wp-block-group__inner-container {
    padding: 30px;
  }

  .seo-branding-page-header h2 {
    font-size: 58px !important;
    line-height: 45px;
  }
  .seo-branding-content .wp-block-group__inner-container .wp-block-columns {
    padding-bottom: 20px;
  }
  .seo-branding-content .wp-block-group__inner-container {
    padding: 50px 30px;
  }
  .seo-branding-content h2 {
    line-height: 22px;
    margin: 10px 0px;
    font-weight: bold;
  }
}
