.seo-conversion-page-header {
  background: #2f354d;
}
.seo-conversion-page-header .seo-header-white-text,
h2 p {
  color: white;
}
.seo-conversion-page-header .wp-block-group__inner-container {
  background-image: url("https://uat.drewandrose.com/main-website/wp-content/uploads/2022/05/seo-conversion-agency-page-header.svg");
  height: 862px;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 150px 0px 30px 0px;
  position: relative;
}
.seo-conversion-page-header .wp-block-group__inner-container h2 {
  font-family: "Branch-Regular", serif;
  font-weight: 400;
  font-size: 72px !important;
  line-height: 60px;
  max-width: 500px;
  margin: 0 auto;
  left: 60px;
}
.seo-conversion-page-header .wp-block-group__inner-container p {
  position: relative;
  top: 70%;
  margin: 0 auto;
  font-family: "Optima", sans-serif;
  font-size: 20px !important;
  line-height: 30px !important;
  max-width: 600px;
}
.seo-conversion-content {
  background: #fbfbfb;
}
.seo-conversion-content .wp-block-group__inner-container {
  padding: 30px;
}
.seo-conversion-content .wp-block-group__inner-container .wp-block-column h2 {
  font-weight: 400;
  line-height: 40px;
}
.seo-conversion-content .wp-block-group__inner-container .wp-block-columns {
  width: 100%;
  max-width: 849px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.seo-conversion-content .seo-green-quote .wp-block-group__inner-container {
  padding: 0;
}
.seo-conversion-content .seo-green-quote .wp-block-group__inner-container p {
  color: #006675;
}

@media only screen and (max-width: 800px) {
  .seo-conversion-page-header .wp-block-group__inner-container {
    height: 965px;
  }

  .seo-conversion-page-header .wp-block-group__inner-container h2 {
    font-size: 60px !important;
    line-height: 46px;
    left: 4vw;
    top: 16vh;
  }
}

@media only screen and (max-width: 600px) {
  .seo-conversion-page-header .wp-block-group__inner-container p {
    top: 65%;
  }
  .seo-conversion-page-header .wp-block-group__inner-container {
    padding: 30px;
  }
  .seo-conversion-content .wp-block-group__inner-container {
    padding: 30px;
  }
  .seo-conversion-content .wp-block-columns {
    padding-bottom: 0px !important;
  }
  .seo-conversion-content h2 {
    line-height: 30px !important;
    font-weight: bold !important;
  }
}
