.single-jobs .colour-logo{display: inline;}
.single-jobs .white-logo{display: none;}
.single-jobs li::marker{color:#CF9303; font-size: 20px;}
.single-jobs p{line-height: 24px !important; margin:20px 0px;}
.single-jobs .jobs-content{z-index: 1; position: relative; background-color: white; padding-top: 200px;}
.single-jobs .jobs-content .wp-block-group__inner-container{max-width: 800px;}

.single-jobs .main-image::after{
    content: '';
    background-image: url(../images/single-job/Path\ 14292.svg);
    background-repeat: no-repeat;
    height:434px;
    width:420px;
    position: absolute;
    top:268px;

}

.single-jobs .gold-line{
    height:30px;
}
.single-jobs .gold-line .wp-block-group__inner-container{
    background-image: url(../images/single-job/Group\ 4073.svg);
    background-size: 90%;
    height:50px;
    width:100%;
    max-width: 1600px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
}
.single-jobs .gold-line .wp-block-group__inner-container{
    padding: 0px;
}
.single-jobs .apply-button a{
    background-color: transparent;
    color:#006675;
    border:1px solid #006675;
}
.single-jobs .meet-team-block{
    background-color: #006675;
    color:white;
    position: relative;
}
.single-jobs .meet-team-block .wp-block-columns:before{
    content: '';
    background-image: url(../images/single-job/Group\ 4079.png);
    background-repeat: no-repeat;
    background-size: contain;
    height:385px;
    width:400px;
    position: absolute;
    left: -100px;
}

.single-jobs .meet-team-block .wp-block-columns:after{
    content: '';
    background-image: url(../images/single-job/Group\ 4039.svg);
    background-repeat: no-repeat;
    height:385px;
    width:275px;
    position: absolute;
    right: 0px;
    top:0px;
}
.single-jobs .team-button a{
    background-color: transparent;
    color:white;
    border:1px solid white;
}

.single-jobs .about-block{
    background-color:#30354B;
    color: white;
    position: relative;
}
.single-jobs .about-block .wp-block-group__inner-container{
    padding-top: 20px;
}
.single-jobs .about-block .about-title{
    padding: 30px 0px;
    font-size:45px !important;
}

.single-jobs .about-block .about-title::before{
    content: '';
    background-image: url(../images/single-job/Path\ 14168.svg);
    background-repeat: no-repeat;
    background-size: 54px;
    height:100px;
    width:100px;
    position: absolute;
    left: -100px;
    top:-39px;
}
.single-jobs .about-block .about-title::after{
    content: '';
    background-image: url(../images/single-job/Group\ 4075.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height:65px;
    width:100%;
    position: absolute;
    top:12px;
    margin-left: 40px;
}
.single-jobs .about-block .about-row-1::after{
    content: '';
    background-image: url(../images/single-job/Group\ 4076.png);
    background-repeat: no-repeat;
    background-size: contain;
    height:65px;
    width:82%;
    position: absolute;
    bottom:44%;
    left: 0px;
    display: block;
}
.single-jobs .about-block p{
    width: 80%;
}
.single-jobs .about-block h2{
    font-size: 35px !important;
}
.single-jobs .about-block li::marker{
    color:white;
}
.single-jobs .about-block ul{
    padding-left: 20px;
}

@media only screen and (max-width:1400px) {
    .single-jobs .about-block .about-title::after{width:90%}
}

@media only screen and (max-width:500px){
    .single-jobs .jobs-content {padding-top:100px;}
    .single-jobs .main-image::after{display: none;}
    .single-jobs .jobs-content .wp-block-group__inner-container{padding: 10px;}
    .single-jobs .gold-line{display: none;}
    .single-jobs .main-bullet-block ul{padding-left: 20px;}
    .single-jobs .meet-team-block .wp-block-group__inner-container{padding:50px 0px;}
    .single-jobs .meet-team-block figure{width:70%; margin:0 auto;}
    .single-jobs .meet-team-block .wp-block-columns:before{display: none;}
    .single-jobs .meet-team-block .wp-block-columns:after{background-size: 34%; background-position: right; height: 160px;}
    .single-jobs .about-block .wp-block-group__inner-container{padding: 30px;}
    .single-jobs .about-block p {width: 100%;}
    .single-jobs .about-block .about-title::after{display: none;}
    .single-jobs .about-block .about-row-1::after{display: none !important;}
}