.want-to-work-with-us-container {
  background: #2f354d;
}
.want-to-work-with-us-container h1 {
  font-family: "Branch-Regular", sans-serif;
  font-size: 60px;
  text-align: center;
  line-height: 24px;
  color: #faf3e8;
  padding-top: 30px;
  padding-bottom: 30px;
}
.work-with-us-content-right {
  padding-left: 58px;
}
.work-with-us-content-right p {
  color: #ffffff;
  line-height: 24px;
  font-size: 15px;
  font-family: "Optima", sans-serif;
  padding-bottom: 0;
}
.work-with-us-benefits-list li {
  color: #ffffff;
  font-size: 15px;
  line-height: 24px;
  font-family: "Optima", sans-serif;
  padding-top: 0px;
  padding-bottom: 27px;
  background-image: url(../images/brown-tick.svg);
  background-size: 14px 10px;
  background-repeat: no-repeat;
 background-position: left 6%;
  padding-left: 33px;
  list-style: none;
}
ul.work-with-us-benefits-list {
  padding-left: 0;
  margin-top: 40px;
}
.work-left-illustration {
  max-width: 487px;
  max-height: 692px;
}
.work-left-illustration img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.want-to-work-with-us-container .wp-block-group__inner-container {
  max-width: 1200px;
}
.work-left-illustration {
  width: 544px;
  max-height: 100%;
  max-width: 100%;
}
.work-with-us-content-right {
  max-width: 550px;
}

.get-in-touch-ctn h2{
   color: #FAF3E8;
    font-size: 72px;
    line-height: 44px;
    margin-bottom:25px;
}

.get-in-touch-ctn  .wp-block-button__link{
  border: 1px solid #FAF3E8;
  border-radius: 31px;
  background-color: transparent;
  font-size: 20px;
  min-width: 294px;
  justify-content: center;
  align-items: center;
  font-family: 'Optima', sans-serif;
}

@media only screen and (max-width:992px){
  .want-to-work-with-us-container h1{
    line-height: 44px;
    margin-top: 80px;
        margin-bottom: 0;
  }
   .want-to-work-with-us-container .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column:not(:only-child){
    flex-basis: auto!important;
  }
  .work-with-us-content-right{
    padding-left: 0%;
    max-width: 100%;
    width: 100%;
    flex-basis: auto!important;
  }
  .work-left-illustration{
    display: none;
  }
  .want-to-work-with-us-container .wp-block-column:first-of-type{
    display: none;
  }
}

@media only screen and (max-width:600px){
  .want-to-work-with-us-container .wp-block-group__inner-container {padding:20px}
  .get-in-touch-ctn .wp-block-button__link {min-width: 250px;}
}