.wrapper-single-resource, body.page-template-template-what-is-ux-ui main {
     background-color: #ffffff;
}
.single-resource-header {
     background-color: #FBFBFB;
     margin-bottom: 120px;
}
.single-resource-header .wrapper {
     padding-top: 0;
     padding-bottom: 0;
     min-height: 540px;
     display: flex;
     align-items: center;
     justify-content: center;
 }
.page-template-template-what-is-ux-ui .white-logo {
     display: none;
}
.page-template-template-what-is-ux-ui .colour-logo {
     display: inline;
}
.single-resource-header .single-blog-item {
     width: 100%;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     gap: 25px;
     margin-bottom: 0;
}
.single-resource-header .blog-img-col {
     width: 292px;
     margin: 0;
     max-width: 292px;
}
.single-resource-header .blog-date {
     font-family: 'Optima';
}

@media screen and (max-width:800px) {
     .single-resource-header .single-blog-item {
          gap: 0;
     }
     .single-resource-header .blog-img-col {
          max-height: 178px;
      }
     .single-resource-header .blog-excerpt {
          display: block;
      }
}

@media screen and (max-width:599px) {
     .single-resource-header .single-blog-item {
          gap: 0;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
      }
      .single-resource-header .blog-img-col {
          width: 178px;
          margin: 0 auto 25px;
          max-width: 178px;
      }
      .single-resource-header  .content-col {
          width: 100%;
      }
      .single-resource-header .wrapper {
           padding-left: 31px;
           padding-right: 31px;
           min-height: inherit;
           padding-top: 100px;
           padding-bottom: 50px;
      }
}


/* timeline styles */
.timeline-block {
	overflow: hidden
}

.cd-timeline-block-heading {
	position: relative;
	z-index: 3;
	margin-top: 0;
	margin-bottom: 13%;
	max-width: 309px;
     min-height: 309px;
	padding: 0;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
	margin-left: auto;
     margin-right: auto;
	border-radius: 50%;
}

.cd-timeline-block-heading .cd-timeline-block-heading-title h2 {
	font-size: 50px;
	line-height: 45px;
	margin: 0;
     color: #FFFFFF;
}
.cd-timeline-block-heading .cd-timeline-block-heading-copy p {
     font-size: 14px !important;
     color: #FFFFFF;
}

@media (min-width:1001px) {
	.cd-timeline-block-heading .cd-timeline-block-heading-title h2 {
		text-align: center
	}
}

@media (min-width:1001px) {
	.cd-timeline-block-heading .cd-timeline-block-heading-copy {
		text-align: center;
		max-width: 270px;
		margin-left: auto;
          margin-right: auto;
	}
}

#cd-timeline {
	position: relative;
	padding: 0;
	padding-bottom: 2%;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 900px;
     margin-left: auto;
     margin-right: auto;
}

#cd-timeline:before {
	content: "";
	position: absolute;
	top: 0;
	left: 18px;
	height: 100%;
	width: 2px;
	z-index: 2;
     background-color: #CF9303;
}

@media only screen and (min-width:1001px) {
	#cd-timeline {
		margin-top: 0;
		margin-bottom: 0
	}
	#cd-timeline:before {
		left: 50%;
		margin-left: -2.5px
	}
}

.cd-timeline-block {
	position: relative;
	margin: 0 0;
     min-height: 200px;
}

.cd-timeline-block .blob {
	position: absolute;
	max-width: 100%;
	min-width: inherit
}

.cd-timeline-block:after {
	clear: both;
	content: "";
	display: table
}

.cd-timeline-block:first-child {
	margin-top: 0
}

.cd-timeline-block:last-child {
	margin-bottom: 0
}

@media only screen and (min-width:1001px) {
	.cd-timeline-block:first-child {
		margin-top: 0
	}
	.cd-timeline-block:last-child {
		margin-bottom: 0
	}
}

.cd-timeline-img {
	position: absolute;
	top: 24px;
	left: 0;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	box-shadow: inherit
}

.cd-timeline-img img {
	display: block;
	width: 65px;
	height: 65px;
	position: absolute;
	left: 0;
	top: 0;
	margin-left: 0;
	margin-top: 0;
}

@media only screen and (min-width:1001px) {
	.cd-timeline-img {
          width: 65px;
          height: 65px;
          left: 50%;
          margin-left: -34px;
          -webkit-transform: translateZ(0);
          -webkit-backface-visibility: hidden;
      }


	}
	.cssanimations .cd-timeline-img.is-hidden {
		visibility: hidden
	}
	.cssanimations .cd-timeline-img.bounce-in {
		visibility: visible;
	}
}

.cd-timeline-content {
	position: relative;
	margin-left: 60px;
	padding: 0;
	width: 50%
}

.cd-timeline-content h2 {
	position: relative;
	font-size: 50px;
     line-height: 45px;
     color: #2E354F;
	line-height: 1;
	margin-bottom: 0;
     margin-top: 0;
}

.cd-timeline-content h2:before {
	content: "";
	position: absolute;
	height: 1px;
	width: 100%;
	background: #CF9303;
	left: 0;
	bottom: -7px
}

.cd-timeline-content p {
	margin-top: 30px;
     margin-bottom: 0;
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 0;
	max-width: 387px;
     color: #2F354D;
}

.cd-timeline-content img {
	position: absolute;
	max-width: 7rem;
	min-width: 5rem;
	object-fit: contain
}

.cd-timeline-content:after {
	clear: both;
	content: "";
	display: table
}

@media only screen and (min-width:1001px) {
	.cd-timeline-content {
		margin-left: 0
	}
	.cd-timeline-block:nth-child(odd) .cd-timeline-content {
		float: right
	}
	.cssanimations .cd-timeline-content.is-hidden {
		visibility: hidden
	}
	.cssanimations .cd-timeline-content.bounce-in {
		visibility: visible;
		animation: cd-bounce-2 .6s
	}
}

@media only screen and (min-width:1001px) {
	.cssanimations .cd-timeline-block:nth-child(2n) .cd-timeline-content.bounce-in {
		animation: cd-bounce-2-inverse .6s
	}
}


@media only screen and (min-width:1001px) {
	.timeline-block .cd-timeline-block.counter-1 .cd-timeline-content {
		max-width: 500px;
          margin-left: -84px;
	}
	.timeline-block .cd-timeline-block.counter-1 .cd-timeline-content img {
		top: 5px;
          left: -220px;
          max-width: 149px;
	}
	.timeline-block .cd-timeline-block.counter-1 .cd-timeline-content p {
		max-width: 387px;
	}
	.timeline-block .cd-timeline-block.counter-1 .blob {
		top: -140px;
		left: -125px;
		width: 555px;
		height: 455px
	}
	.timeline-block .cd-timeline-block.counter-2 .cd-timeline-content {
		max-width: 500px;
		margin-right: -81px;
		text-align: right;
          width: 500px;
	}
	.timeline-block .cd-timeline-block.counter-2 .cd-timeline-content p {
		float: right;
		max-width: 387px;
	}
	.timeline-block .cd-timeline-block.counter-2 .cd-timeline-content img {
		top: 5px;
		right:-210px;
		max-width: 88px;
	}
     .timeline-block .cd-timeline-block.counter-2 .cd-timeline-content img {
		top: 5px;
		right:-210px;
		max-width: 88px;
	}
     .timeline-block .cd-timeline-block.counter-4 .cd-timeline-content img {
          top: -3px;
          right: -227px;
          max-width: 130px;
      }

}

.cd-timeline-img img.circle-no-line {
     display: none;
}

@media only screen and (max-width:1000px) {
     .single-resource-header {
          margin-bottom: 0px;
      }
      body.page-template-template-what-is-ux-ui main {
          background-color: #FBFBFB;
      }
	#cd-timeline {
		margin: 0 auto;
		padding: 0 15px;
	}
     #cd-timeline:before {
          left: 30px;
      }
	.cd-timeline-block {
		margin: 0 0 40px;
          min-height: inherit;
	}
	.cd-timeline-content {
		width: 100%;
          max-width: 100%;
          margin-left: 20px;
	}
     .cd-timeline-content h2:before {
          max-width: 75%;
     }
     .cd-timeline-img img {
          display: none;
     }
     .cd-timeline-img img.circle-no-line {
          display: block;
     }
	.cd-timeline-block-heading {
          padding: 0;
          border-radius: 0;
          max-width: 248px;
          margin-left: 15px;
          margin-bottom: 40px;
          padding-top: 25px;
          padding-bottom: 30px;
          padding-left: 18px;
          padding-right: 15px;
          align-items: flex-start;
          border-top-right-radius: 80px;
          min-height: inherit;
	}
	.cd-timeline-block-heading .cd-timeline-block-heading-title h2 {
		font-size: 25px !important;
		line-height: 26px;
	}
     .cd-timeline-block-heading .cd-timeline-block-heading-copy p {
          max-width: 213px;
          margin-bottom: 0;
          font-size: 12px !important;
          line-height: 15px;
     }
	.cd-timeline-img {
		left: -1px;
          top: 19px;
	}
	.cd-timeline-block .blob {
		display: none
	}
	.cd-timeline-content img {
		max-width: 60px;
          object-fit: contain;
		min-width: inherit;
		right: 0;
		top: 4px;
	}
	.cd-timeline-content h2 {
		font-size: 30px !important;
          padding-left: 30px;
	}
	.cd-timeline-content p {
		font-size: 12px !important;
		line-height: 15px !important;
		max-width: 40%;
          padding-left: 30px;
          margin-top: 22px;
	}
	#timeline-block_61bc7db8207e1 .container {
		padding-top: 4rem;
		padding-bottom: 4rem
	}
     .cd-timeline-img img, .cd-timeline-img {
          width: 34px;
          height: 34px;
      }

}


.timeline_bottom {
     max-width: 1330px;
     margin: 0 auto 100px;
 }

.timeline_bottom .timeline_bottom_title {
	position: relative;
     text-align: center;
}

.timeline_bottom_title img {
     margin-bottom: 12px;
     max-width: 100%;
}

.timeline_bottom .timeline_bottom_title h3 {
	position: relative;
	font-size: 50px !important;
	line-height: 45px !important;
	color: #2E354F;
	max-width: 486px;
	margin: 0 auto;
     font-family: 'Branch-Regular';
     font-weight: 400;
     margin-top: 28px;
     margin-bottom: 40px;
}

.timeline_bottom .timeline_bottom_repeater {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 0;
	margin-top: 0;
	gap: 0;
     list-style: none;
     padding-left: 0;
}

.timeline_bottom .timeline_bottom_repeater li>div {
	max-width: 288px;
	margin-left: auto;
     margin-right: auto;
}

.timeline_bottom .timeline_bottom_repeater li h4 {
	position: relative;
	color: #2F354D;
	font-size: 20px;
	line-height: 20px;
	text-decoration: none;

	font-weight: 400;
	margin: 0 0 12px;
	text-align: center
}

.timeline_bottom .timeline_bottom_repeater li p {
	font-size: 15px;
	line-height: 20px;
	color: #2F354D;
	max-width: 100%;
	margin-bottom: 40px;
	min-height: 120px;
}

.timeline_bottom .timeline_bottom_repeater li img {
	object-fit: contain;
	width: 100%;
	min-width: 100%;
	max-width: 520px;
}

.timeline_bottom .timeline_bottom_repeater li {
     max-width: 460px;
 }

@media only screen and (max-width: 1000px) {
     .timeline_bottom .timeline_bottom_repeater {
          gap: 90px;
     }
     .timeline_bottom {
          padding-left: 30px;
          padding-right: 30px;
          max-width: 1160px;
     }
     .timeline_bottom_title img {
          max-width: 60%;
      }
}

@media only screen and (max-width: 599px) {
     .timeline_bottom {
          margin-top: -13px;
     }
     .timeline_bottom_title img {
          display: none;
     }
     .timeline_bottom .timeline_bottom_repeater li p {
     font-size: 12px !important;
     line-height: 15px !important;
     }
     .timeline_bottom .timeline_bottom_repeater li img {
          max-width: 100%;
     }
     .timeline_bottom .timeline_bottom_repeater li, .timeline_bottom .timeline_bottom_title {
     margin-left: auto;
     max-width: 460px;
     margin-right: auto;
     }
     .timeline_bottom .timeline_bottom_title {
          max-width: 250px;
     }
     .timeline_bottom .timeline_bottom_title h3 {
     font-size: 25px !important;
     line-height: 25px !important;
     margin: 0;
     margin-bottom: 30px;
     }
     .timeline_bottom .timeline_bottom_repeater li p {
		min-height: inherit
	}
     .timeline_bottom .timeline_bottom_repeater {
		-ms-flex-direction: column;
		flex-direction: column;
		margin-top: 3rem
	}
}

@media only screen and (max-width:481px) {
     .cd-timeline-content h2:before {
          max-width: 250px;
      }
      .cd-timeline-content p {
          max-width: 232px;
      }
}

@media only screen and (max-width:360px) {
     .cd-timeline-content h2:before {
          max-width: 200px;
      }
      .cd-timeline-content p {
          max-width: 200px;
          padding-left: 18px;
      }
      .cd-timeline-content img {
          max-width: 40px;
          object-fit: contain;
          min-width: inherit;
          right: 0;
          top: 4px;
      }
      .cd-timeline-content h2 {
          font-size: 26px !important;
          padding-left: 18px;
      }
      .cd-timeline-img {
          top: 15px;
      }
}

@media screen and (min-width: 1001px) and (max-width: 1199px) {
	.single-resource-header {
		margin-bottom: 80px;
	 }
	.timeline-block .cd-timeline-block.counter-1 .cd-timeline-content {
		max-width: 360px;
		margin-left: 56px;
	}
	.timeline-block .cd-timeline-block.counter-2 .cd-timeline-content {
		max-width: 360px;
		margin-right: 60px;
		width: 360px;
	}
	.cd-timeline-content h2 {
		font-size: 44px !important;
		line-height: 45px !important;
	}
	.cd-timeline-img {
		top: 19px;
	 }
	 .timeline-block .cd-timeline-block.counter-1 .cd-timeline-content img {
		top: 3px;
		left: -27px;
		max-width: 70px;
		min-width: 70px !important;
	}
	.timeline-block .cd-timeline-block.counter-2 .cd-timeline-content img {
		top: 3px;
		right: -27px;
		max-width: 70px;
		min-width: 70px;
	 }
	 .timeline_bottom_title img {
		max-width: 550px;
	 }
	 .timeline_bottom {
		max-width: 1001px;
	 }
	 .timeline_bottom .timeline_bottom_repeater {
		padding-left: 30px;
		padding-right: 30px;
	 }
	 .timeline_bottom .timeline_bottom_repeater li {
		max-width: 390px;
	 }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
	.single-resource-header {
		margin-bottom: 80px;
	 }
	.timeline-block .cd-timeline-block.counter-1 .cd-timeline-content {
		max-width: 440px;
		margin-left: -24px;
	}
	.timeline-block .cd-timeline-block.counter-2 .cd-timeline-content {
		max-width: 440px;
		margin-right: -21px;
		width: 440px;
	}
	.cd-timeline-content h2 {
		font-size: 44px !important;
		line-height: 45px !important;
	}
	.cd-timeline-img {
		top: 19px;
	 }
	 .timeline-block .cd-timeline-block.counter-1 .cd-timeline-content img {
		top: 3px;
		left: -120px;
		max-width: 80px;
		min-width: 80px !important;
	}
	.timeline-block .cd-timeline-block.counter-2 .cd-timeline-content img {
		top: 3px;
		right: -120px;
		max-width: 80px;
		min-width: 80px;
	 }
	 .timeline_bottom_title img {
		max-width: 670px;
	 }
	 .timeline_bottom {
		max-width: 1120px;
	 }
	 .timeline_bottom .timeline_bottom_repeater {
		padding-left: 0px;
		padding-right: 0px;
	 }
	 .timeline_bottom .timeline_bottom_repeater li {
		max-width: 460px;
	 }
}