.page-what-we-do .hero{background-color:#30354B; height: 880px; width: 100vw;}
.page-what-we-do .hero .wp-block-group__inner-container{max-width: 100vw; padding:0px;}
.page-what-we-do .hero-lines{background-image: url("../images/what-we-do-hero.svg"); background-repeat: no-repeat; background-size: 1500px; background-position: center; width:100%; height:880px;}


.page-what-we-do .we-do-this{background-color: #30354B; color:white;} 
.page-what-we-do .we-do-this .wp-block-button a {background-color: transparent; border:1px solid white; width:275px; font-size: 16px; font-family: 'Optima', sans-serif; z-index: 0; margin-bottom: 20px;}
.page-what-we-do .we-do-this img{min-height: 175px;}
.page-what-we-do .we-do-this .subtitle{min-height: 50px;}
.page-what-we-do .we-do-this .description{min-height: 120px;}

@media only screen and (max-width:980px){
    .page-what-we-do .we-do-this .wp-block-button a {width:220px; padding:10px;}

}

@media only screen and (max-width:850px){
    .page-what-we-do .hero-lines{background-size: 1200px;}
}


@media only screen and (max-width:700px){
    .page-what-we-do .hero-lines{background-size: 1000px;}
}

@media only screen and (max-width:500px){
    .page-what-we-do .hero-lines{background-image: url("../images/what-we-do-hero-mob.svg"); background-size: 410px; position: absolute; top:60px;}
    .page-what-we-do .we-do-this .description{min-height: 50px; text-align: center;}
}