.page-work-with-us .white-logo{display:none;}
.page-work-with-us .colour-logo{display: inline;}
.page-work-with-us p{line-height: 26px !important;}

.page-work-with-us .wp-block-cover {
  height:100vh;
}

.page-work-with-us .wp-block-cover span{
  background-color: transparent !important;
}

.page-work-with-us .hero-video .wp-block-group__inner-container{
  position: relative;
}

.page-work-with-us .wp-block-cover .wp-block-cover__inner-container h2 {
  text-align: center;
  position: relative;
  bottom: 31vh;
  font-family: "Branch-Regular", sans-serif;
  font-weight: 400;
  font-size: 72px !important;
  line-height: 24px;
  color:#2E354F;
}
.page-work-with-us .work-with-us-benefits-list li{
  font-size: 20px !important;
}
.page-work-with-us #site-content{
  background: #faf3e8;
}
.team-block .wp-block-group__inner-container{
  padding-bottom: 1px;
  max-width: 1200px;
}
.benefits-block .wp-block-group__inner-container{
  padding:1px 0px;
}
.office-block{
  position: relative;
  z-index: 0;
}
.office-block .wp-block-group__inner-container{
padding-top: 10px;
}
.office-block p{
  max-width: 650px;
}
.magic-block{
  background-image: url(../images/Work-with-us/stacked-lines.svg);
  background-size: 70px;
  background-repeat: no-repeat;
}
.magic-block .wp-block-columns{
  position: relative;
  left: 100px;
}

.whole-team-image {
  position: relative;
  z-index: 0;
}
.whole-team-image:before{
  content: '';
  height:1100px;
  width:150px;
  background-image: url("../images/Work-with-us/left-line.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  background-position: 0px 400px;
  display: block;
}

.page-work-with-us .get-in-touch-ctn {
  display: none;
}
.office-image{
  position: relative;
  z-index: 0;
  max-width: 800px;
  right: 170px;
}


.office-image:after {
  content: '';
  height:806px;
  width:360px;
  background-image: url("../images/Work-with-us/right-line.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  background-position: -220px 185px;
}

.do-you-think h2 {
  color: #006675;
  font-family: "Branch-Regular", sans-serif;
  font-weight: 400;
  font-size: 55px;
  line-height: 40px;
}
.do-you-think p {
  font-family: "Optima", sans-serif;
  font-weight: 400;
  font-size: 20px !important;
  line-height: 24px;
  color: #006675;
}
.magic-team-image-block {
  z-index: 999;
}
.magic-team-image-block figure.wp-block-image.size-full {
  width: 483px;
  height: 551px;
}
.office-image-block {
  z-index: 9999;
}
.office-image-block p {
  color: #006675;
  font-family: "Optima", sans-serif;
  font-weight: 400;
  font-size: 20px !important;
}
.benefits-column{
  max-width: 900px;
  margin:0 auto;
}
h2.benefits-title {
  color: #006675;
  padding-top: 30%;
  font-size: 60px !important;
}
.work-with-us-content-right .work-with-us-benefits-list li {
  color: #006675;
}
.we-gifs-section .wp-block-group__inner-container p {
  color: #006170;
  font-family: "Optima", sans-serif;
  font-weight: 400;
  width: 100%;
  font-size: 20px !important;
  line-height: 24px;
}
figure.wp-block-image.size-full.we-gifs {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
figure.wp-block-image.size-full.we-gifs p {
  color: #006675;
}
.available-jobs {
  background: #006675;
  padding-bottom: 80px;
}
.jobs-title{
  font-size: 65px !important;
}
.available-jobs .wp-block-group__inner-container{
  padding:20px 50px;
  max-width: 1200px;
}
.available-jobs .wp-block-group {
  background: #ffffff;
}
.available-jobs .jobs-title {
  color: #ffffff;
  font-family: "Branch-Regular", sans-serif;
  font-size: 70px;
  line-height: 50px;
  margin: 50px 0px;
}
.available-jobs h2.job-role-title {
  font-family: "Branch-Regular", sans-serif;
  font-weight: 400;
  color: #2f354d;
  font-size: 50px;
  line-height: 50px;
}
.available-jobs .wp-block-button__link {
  background: none;
  color: #2f354d;
  font-family: "Optima", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  
}
.available-jobs .wp-block-button {
  border: 1px solid #2f354d;
  border-radius: 31px;
  width: 100%;
  max-width: 200px;
}

.door-gif{
  position: relative;
  top:25%;
}

@media only screen and (max-width:900px){
.page-work-with-us #site-content{zoom:0.6; padding-top: 100px;}
.page-work-with-us .wp-block-cover{height: 800px;}
}
@media only screen and (max-width:800px){
  .page-work-with-us .wp-block-cover{height: 700px;}
}
@media only screen and (max-width:500px){
  .page-work-with-us .mobile-hero{padding-top:100px;}
  .page-work-with-us .team-block .wp-block-group__inner-container{padding:10px;}
  .page-work-with-us .whole-team-image:before{display: none;}
  .page-work-with-us h2.benefits-title{padding-top: 0px;}
  .page-work-with-us .benefits-column{padding: 10px;}
  .page-work-with-us .office-block .wp-block-group__inner-container{padding: 10px;}
  .page-work-with-us .office-image{right:0px;}
  .page-work-with-us .office-image:after{display: none;}
  .page-work-with-us .magic-block{background-image: none;}
  .page-work-with-us .magic-block .wp-block-group__inner-container{padding: 10px;}
  .page-work-with-us .magic-block .wp-block-columns{left: 0px; align-items: center;}
  .page-work-with-us .do-you-think h2{font-size: 40px !important; line-height: 32px;}
  .page-work-with-us .magic-team-image-block figure.wp-block-image.size-full{width:auto; height:auto;}
  .page-work-with-us .we-gifs-section{text-align: center;}
  .page-work-with-us .available-jobs .wp-block-columns{text-align: center;}
  .page-work-with-us .available-jobs .wp-block-buttons{justify-content: center;}
  .page-work-with-us .available-jobs h2{font-size: 50px !important; margin:10px !important;}
  .page-work-with-us .available-jobs p{font-size: 20px !important;}
  .page-work-with-us .available-jobs .wp-block-button__link{font-size: 20px !important;}
  .page-work-with-us hr{margin:40px 0px;}
}
